<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Alcoholic</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Alcoholic.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" type="image/ico" href="@Url.Content("~/images/icons/logoicon-r.png")">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10"></script>
    <style>
        /* NAV */
        .logo {
            width: 50px;
            margin-right: 20px;
        }

        .navbar {
            background-color: #721B29;
        }

        .navbar-brand {
            color: white;
        }

        .nav-link {
            color: white;
        }

        .search {
            height: 38px;
            margin: 10px;
            position: relative;
        }

            .search img {
                height: 20px;
                width: 20px;
                position: absolute;
                top: 9px;
                right: 9px;
            }

        .searcharea2 {
            display: none;
        }

        @@media screen and (max-width: 992px) {
            .searcharea {
                display: none !important;
            }

            .searcharea2 {
                display: block;
            }
        }
        /* Footer */
        footer{
            background-color: #D8CDB9; 
            margin-top: 40px;
            color: #666;
            font-size: 14px;
        }
        footer a{
            color: #666;
        }
        .footright{
            margin: auto;
            padding: 20px 10px 10px 10px;
            text-align: right;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar monly navbar-expand-md ">
            <div class="container-fluid">
                <a asp-controller="Home" asp-action="Index"><img src="~/images/icons/logo-w.png" alt="" class="logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <form class="searcharea2 search" role="search">
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                            <a href=""><img src="~/images/icons/search.png" alt=""></a>
                        </form>
                        <li class="nav-item">
                            <a class="nav-link" href="#">推薦</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">經典酒款</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">算命調酒</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Booking" asp-action="Booking">線上訂位</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Member" asp-action="LoginRegister">會員</a>
                        </li>
                    </ul>
                    <form class="d-flex searcharea search" role="search">
                        <input class=" form-control" type="search" placeholder="Search" aria-label="Search">
                        <a href=""><img src="~/images/icons/search.png" alt=""></a>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
