@{
    ViewData["Title"] = "數據中心";
    Layout = "~/Areas/BackCenter/Views/Shared/_Layout.cshtml";
}
    <div class="datacenter container-fluid p-5" id="datacenter">
        <h3>數據中心</h3>
        <hr>
        <ul class="nav  mb-0" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-1" type="button" role="tab" aria-controls="pills-home"
                        aria-selected="true">
                    關鍵指標
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-2" type="button" role="tab" aria-controls="pills-profile"
                        aria-selected="false">
                    訂單數據
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-3" type="button" role="tab" aria-controls="pills-contact"
                        aria-selected="false">
                    優惠折抵成效
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-disabled-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-4" type="button" role="tab"
                        aria-controls="pills-disabled" aria-selected="false">
                    商品數據
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-disabled-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-5" type="button" role="tab"
                        aria-controls="pills-disabled" aria-selected="false">
                    來客數量
                </button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-1" role="tabpanel"
                 aria-labelledby="pills-home-tab" tabindex="0">
                <div class="info">
                    <div class="data py-4">
                        <div class="spacebetween row-cols-2 mb-3">
                            <h3>關鍵指標</h3>
                            <select class="form-select" name="mark" id="mark" v-model="diff" v-on:change="selectDiff">
                                <option value="m" selected>近一個月</option>
                                <option value="s">近一季</option>
                                <option value="y">近一年</option>
                            </select>
                        </div>
                        <div class="keymark row-cols-4">
                        <div class="keymarkdetail p-4"><h2>{{STotal}}</h2><h5>營業額</h5></div>
                        <div class="keymarkdetail p-4"><h2>{{SGuestNum}}</h2><h5>來客量</h5></div>
                            <div class="keymarkdetail p-4"><h2>{{select.sMemberNum}}</h2><h5>會員數</h5></div>
                            <div class="keymarkdetail p-4"><h2>{{select.sRate}}/5</h2><h5>評價</h5></div>
                        </div>
                        <br>
                    </div>
                    <div class="charts row">
                        <div class="col-6">
                            <canvas id="myChart" width="400" height="200"></canvas>
                        </div>
                        <div class="col-6"> 
                            <canvas id="memChart" width="400" height="200"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-2" role="tabpanel"
                 aria-labelledby="pills-profile-tab" tabindex="0">
                <div class="info">
                    <div class="tabtop">
                        <div class="spacebetween row-cols-2 mb-3">
                            <h3>訂單數據</h3>
                            <select class="form-select" name="mark" id="mark">
                                <option value="days">近七日</option>
                                <option value="month">近一個月</option>
                                <option value="season">近一季</option>
                                <option value="year">近一年</option>
                            </select>
                        </div>
                    </div>
                    <div class="orders">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>訂單數</th>
                                    <th>訂單總金額</th>
                                    <th>訂單平均金額</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>春</td>
                                    <td>3</td>
                                    <td>1000</td>
                                    <td>333</td>
                                </tr>
                                <tr>
                                    <td>春</td>
                                    <td>3</td>
                                    <td>1000</td>
                                    <td>333</td>
                                </tr>
                                <tr>
                                    <td>春</td>
                                    <td>3</td>
                                    <td>1000</td>
                                    <td>333</td>
                                </tr>
                                <tr>
                                    <td>春</td>
                                    <td>3</td>
                                    <td>1000</td>
                                    <td>333</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-3" role="tabpanel"
                 aria-labelledby="pills-contact-tab" tabindex="0">
                <div class="info">
                    <div class="tabtop">
                        <div class="spacebetween row-cols-2 mb-3">
                            <h3>優惠折抵成效</h3>
                            <select class="form-select" name="mark" id="mark">
                                <option value="days">近七日</option>
                                <option value="month">近一個月</option>
                                <option value="season">近一季</option>
                                <option value="year">近一年</option>
                            </select>
                        </div>
                    </div>
                    <div class="discount row-cols-3">
                        <div class="p-4"><h5>含優惠訂單-訂單數</h5><h2>0</h2><p>100%</p></div>
                        <div class="p-4"><h5>含優惠訂單-訂單總金額</h5><h2>0</h2><p>100%</p></div>
                        <div class="p-4"><h5>含優惠訂單-訂單平均金額</h5><h2>0</h2><p>100%</p></div>
                    </div>
                    <br>
                    <div class="undiscount row-cols-3">
                        <div class="p-4"><h5>不含優惠訂單-訂單數</h5><h2>0</h2><p>100%</p></div>
                        <div class="p-4"><h5>不含優惠訂單-訂單總金額</h5><h2>0</h2><p>100%</p></div>
                        <div class="p-4"><h5>不含優惠訂單-訂單平均金額</h5><h2>0</h2><p>100%</p></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-4" role="tabpanel"
                 aria-labelledby="pills-disabled-tab" tabindex="0">
                <div class="info">
                    <div class="tabtop">
                        <div class="spacebetween row-cols-2 mb-3">
                            <h3>商品數據</h3>
                            <select class="form-select" name="mark" id="mark">
                                <option value="days">近七日</option>
                                <option value="month">近一個月</option>
                                <option value="season">近一季</option>
                                <option value="year">近一年</option>
                            </select>
                        </div>
                    </div>
                    <!-- <br>
                    <div class="products">
                        <ul class="nav">
                            <li class="nav-item">
                                <button class="nav-link active" aria-current="page">銷量</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link">銷售額</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link">庫存</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link">???</button>
                            </li>
                        </ul>
                        <hr class="mt-0">
                    </div> -->
                </div>
            </div>
            <div class="tab-pane fade" id="pills-5" role="tabpanel"
                 aria-labelledby="pills-disabled-tab" tabindex="0">
                <div class="info">
                    <div class="tabtop">
                        <div class="spacebetween row-cols-2 mb-3">
                            <h3>來客數量</h3>
                            <select class="form-select" name="mark" id="mark">
                                <option value="month">近一個月</option>
                                <option value="season">近一季</option>
                                <option value="year">近一年</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
<script>
    const vm = new Vue({
        el: "#datacenter",
        data:{
            select: {},
            diff: "m",
            labels: [],
            SGuestNum:0,
            SMemberNum:0,
            STotal:0,

        },
        methods: {
            selectDiff: function () {
                fetch("/backcenter/DataCenter/SelectedData", {
                    method:"post",
                    headers:{"Content-Type":"application/json"},
                    body: JSON.stringify(this.diff)
                }).then(e => e.json()).then(r => {this.select = r;
                    let self = this;
                    let sTotal = r.sTotal;
                    self.select.sGuestNum.forEach(e => {
                        self.SGuestNum = self.SGuestNum + e.total
                    })
                    self.SMemberNum = r.sMemberNum;
                    let totalarr = [];
                    self.select.sTotal.forEach(e => {
                        self.STotal = self.STotal + e.total;
                        totalarr.push(e.total);
                    })
                    
                    let ctx = document.getElementById('myChart').getContext('2d');
                    let myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: self.labels,
                            datasets: [{
                                label: "",
                                data: totalarr,
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                ],
                                borderWidth: 1,
                                barThickness: 100,
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });

                    let mctx = document.getElementById('memChart').getContext('2d');
                    let memChart = new Chart(mctx, {
                        type: 'doughnut',
                        data: {
                            labels: ["Members","Target"],
                            datasets: [{
                                label: "Red",
                                data: [self.SMemberNum, 100],
                                backgroundColor: [
                                    'rgba(99, 255, 132, 0.2)',
                                    'rgba(255, 99, 132, 0.2)',
                                ],
                                hoverOffset: 4
                            }]
                        },
                    });
                })
            },
            selectDatas: function(){
                fetch("/backcenter/DataCenter/SelectedData", {

                }).then(e=>e.json()).then(r => {console.log(r);
                    let ctxline = document.getElementById('lineChart').getContext('2d');
                    let lineChart = new Chart(ctxline, {
                        type: 'line',
                        data: {
                            labels: [1,2,3,4,5],
                            datasets: [
                                {
                                    label: "來客量",
                                    data: [self.select.sGuestNum],
                                    backgroundColor: [
                                        'rgba(54, 162, 235, 0.2)',
                                    ],
                                    borderColor: [
                                        'rgba(54, 162, 235, 1)',
                                    ],
                                    borderWidth: 1
                                },
                                {
                                    label: "會員數",
                                    data: [self.select.sMemberNum],
                                    backgroundColor: [
                                        'rgba(255, 206, 86, 0.2)',
                                    ],
                                    borderColor: [
                                        'rgba(255, 206, 86, 1)',
                                    ],
                                    borderWidth: 1
                                }
                            ]
                        },
                        options: {
                            scales: {
                                x:{
                                    display: true,
                                    title: {
                                      display: true
                                    }
                                },  
                                y: {
                                    beginAtZero: true,
                                    title:{
                                        display: true,
                                        text: "人數"
                                    }
                                }
                            }
                        }
                    });                

                })
            },
        },
        mounted: function () {
            var day = new Date
            for (i = 0; i < 30; i++) {
                day.setDate(day.getDate() - 1)
                var str = day.toLocaleDateString('en-US')
                var dd = str.slice(0, str.length - 5)
                this.labels.push(dd)
            }
            this.selectDiff();
        }
    })

</script>