@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>初始畫面</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: #222220;
        }

        .logo img {
            height: 120px;
            margin: 8px;
        }

        .message {
            color: #fff;
            text-align: center;
        }

            .message h3 {
                font-size: 2rem;
            }

            .message p {
                font-size: 1.5rem;
                color: #D8CDB9;
            }

        .selectform {
            background-color: #fff;
            height: 240px;
            margin: 30% 5%;
        }

        .inputform {
            padding: 50px 0 0 0;
            text-align: center;
        }

            .inputform div {
                padding: 10px;
            }

            .inputform input, select {
                width: 70%;
                height: 28px;
                border: 1px solid #ccc;
            }

            .inputform input {
                height: 24px;
            }

        .idenchoice {
            display: flex;
            justify-content: space-around;
        }

            .idenchoice button {
                border: 0px;
                border-radius: 0.375rem;
                box-shadow: 4px 4px 4px #666;
                font-size: 1.5rem;
                padding: 6px 20px;
                margin: 12px 0 0 0;
                cursor: pointer;
            }

        .member {
            background-color: #721B29;
            color: #fff;
            transition: ease;
            transition-duration: 0.3s;
        }

            .member:hover {
                background-color: #56141f;
                transition: ease;
                transition-duration: 0.3s;
            }

        .cust {
            background-color: #eee;
            transition: ease;
            transition-duration: 0.3s;
        }

            .cust:hover {
                background-color: #ccc;
                transition: ease;
                transition-duration: 0.3s;
            }
    </style>
</head>
<body>
    <div class="logo">
        <a href=""><img src="~/images/icons/logo-y.png" alt=""></a>
    </div>
    <div class="message">
        <h3>歡迎您!</h3>
        <br>
        <p>請選擇桌號及人數後開始點餐</p>
    </div>
    <div class="selectform" id="form">
        <form class="inputform">
            <div class="desk">
                <label>桌號: </label>
                <select name="desknum" id="desknum" v-on:change="checkNumber();checkRequire();" v-model="desknum" required>
                    <option value="X00">坐在哪裡呢...?</option>
                    <option value="A01">A01</option>
                    <option value="A02">A02</option>
                    <option value="A03">A03</option>
                    <option value="A04">A04</option>
                    <option value="A05">A05</option>
                    <option value="A06">A06</option>
                    <option value="B07">B07</option>
                    <option value="B08">B08</option>
                    <option value="B09">B09</option>
                    <option value="B10">B10</option>
                    <option value="C11">C11</option>
                    <option value="C12">C12</option>
                </select>
            </div>
            <div class="people">
                <label>人數: </label>
                <select v-model="number" v-on:change="checkRequire" required>
                    <option value="0" disabled="true" selected>今日幾位呢...</option>
                    <option value="1" v-bind:disabled=one>我一個人</option>
                    <option value="2" v-bind:disabled=two>兩位</option>
                    <option value="3" v-bind:disabled=thr>三位</option>
                    <option value="4" v-bind:disabled=ftr>四位</option>
                </select>
            </div>
            <div class="idenchoice">
                <button v-bind:disabled=btn v-bind:style="disable" v-on:click.prevent="StartOrderGuest" class="cust">訪客點餐</button>
                <button v-bind:disabled=btn v-bind:style="disable" v-on:click.prevent="StartOrder" class="member">會員點餐</button>
            </div>
        </form>
    </div>
    <script src="/js/vue.min.js"></script>
    <script>
        const vm = new Vue({
            el: "#form",
            data: {
                desknum: "X00",
                one: true,
                two: true,
                thr: true,
                ftr: true,
                number: "0",
                btn: false,
                disable: "opacity:0.5"
            },
            methods: {
                checkNumber: function () {
                    let deskType = this.desknum[0];
                    this.startOrder;
                    switch (deskType) {
                        case "A": this.one = false;
                            break;
                        case "B": this.two = false;
                            break;
                        case "C": this.thr = false; this.ftr = false;
                            break;
                    }
                },
                checkRequire: function () {
                    if (this.number == "0") {
                        this.btn = true;
                        this.disable = "opacity:0.5";
                    } else {
                        this.btn = false;
                        this.disable = "opacity:1";
                    }
                },
                StartOrder: function () {
                    let fetchbody = {
                        "Desk": this.desknum,
                        "Number": this.number,
                        "StartTime" : "",
                        "EndTime":"",
                        "Occupied":1
                    };
                    let jsonStr = JSON.stringify(fetchbody);
                    console.log(jsonStr);
                    console.log(fetchbody);
                    fetch("https://localhost:7273/member/StartOrder", {
                        method: "PUT",
                        headers: { "Content-Type": "application/json" },
                        body: jsonStr
                    }).then(data => console.log(data)).then(() => { window.location.assign("https://localhost:7273/member/GuestLogin") }).catch(err => console.log(err))
                },
                StartOrderGuest:function(){
                    let fetchbody = {
                        "Desk": this.desknum,
                        "Number": this.number,
                        "StartTime": "",
                        "EndTime": "",
                        "Occupied": 1
                    };
                    let jsonStr = JSON.stringify(fetchbody);
                    fetch("https://localhost:7273/member/StartOrder", {
                        method: "PUT",
                        headers: { "Content-Type": "application/json" },
                        body: jsonStr
                    }).then(data => console.log(data)).then(() => { window.location.assign("https://localhost:7273/member/GuestLogin") }).catch(err => console.log(err))
                }
            }
        })
    </script>

</body>
</html>