@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.5.2/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.5.2/dist/sweetalert2.min.js"></script>
    <title>初始畫面</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: #222220;
        }

        .logo img {
            height: 120px;
            margin: 8px;
        }

        select {
            border-radius: 0.375rem
        }

        .message {
            color: #fff;
            text-align: center;
        }

            .message h3 {
                font-size: 2rem;
            }

            .message p {
                font-size: 1.5rem;
                color: #D8CDB9;
            }

        .selectform {
            background-color: rgba(255,255,255,.5);
            border-radius: 0.375rem;
            height: 360px;
            margin: 30% 5%;
        }

        .inputform {
            text-align: center;
            height: 360px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

            .inputform div {
                padding: 10px;
            }

            .inputform input, select {
                width: 70%;
                height: 28px;
                border: 1px solid #ccc;
            }

            .inputform input {
                height: 24px;
            }

        .idenchoice {
            display: flex;
            justify-content: space-around;
        }

            .idenchoice button {
                border: 0px;
                border-radius: 0.375rem;
                box-shadow: 4px 4px 4px #666;
                font-size: 1.5rem;
                padding: 6px 20px;
                margin: 12px 0 0 0;
                cursor: pointer;
            }

        .member {
            background-color: #721B29;
            color: #fff;
            transition: ease;
            transition-duration: 0.3s;
        }

            .member:hover {
                background-color: #56141f;
                transition: ease;
                transition-duration: 0.3s;
            }

        .cust {
            background-color: #eee;
            transition: ease;
            transition-duration: 0.3s;
        }

            .cust:hover {
                background-color: #ccc;
                transition: ease;
                transition-duration: 0.3s;
            }
    </style>
</head>
<body>
    <div class="logo">
        <a href=""><img src="~/images/icons/logo-y.png" alt=""></a>
    </div>
    <div class="message">
        <h3>歡迎您!</h3>
        <br>
        <p>請選擇桌號及人數後開始點餐</p>
    </div>
    <div class="selectform" id="form">
        <form class="inputform">
            <div class="desk">
                <label>桌號: </label>
                <select name="deskType" id="deskType" v-on:change="checkNumber();checkRequire();" v-model="deskType" required>
                    <option value=0 disabled="true" selected>坐在哪裡呢...?</option>
                    <option value=1>吧檯</option>
                    <option value=2>兩人座</option>
                    <option value=3>四人桌(方)</option>
                    <option value=4>四人桌(圓)</option>
                </select>
            </div>
            <div class="deskNum">
                <label>桌號: </label>
                <select name="deskNum" id="deskNum" v-on:change="checkNumber();checkRequire();" v-model="deskNum" required>
                    <option value=0 disabled="true" selected>請選擇桌號...</option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option v-bind:disabled=multi value=5>5</option>
                    <option v-bind:disabled=multi value=6>6</option>
                    <option v-bind:disabled=multi value=7>7</option>
                    <option v-bind:disabled=multi value=8>8</option>
                </select>
            </div>
            <div class="people">
                <label>人數: </label>
                <select v-model="number" v-on:change="checkRequire" required>
                    <option value="0" disabled="true" selected>今日幾位呢...</option>
                    <option value="1" v-bind:disabled=one>我一個人</option>
                    <option value="2" v-bind:disabled=two>兩位</option>
                    <option value="3" v-bind:disabled=thr>三位</option>
                    <option value="4" v-bind:disabled=ftr>四位</option>
                </select>
            </div>
            <div class="idenchoice">
                <button v-bind:disabled=btn v-bind:style="disable" v-on:click.prevent="StartOrderGuest" class="cust">訪客點餐</button>
                <button v-bind:disabled=btn v-bind:style="disable" v-on:click.prevent="StartOrder" class="member">會員點餐</button>
            </div>
        </form>
    </div>
    <script src="/js/vue.min.js"></script>
    <script>
        const vm = new Vue({
            el: "#form",
            data: {
                deskType: 0,
                deskNum: 0,
                one: true,
                two: true,
                thr: true,
                ftr: true,
                number: "0",
                btn: false,
                disable: "opacity:0.5",
                multi: true
            },
            methods: {
                checkNumber: function () {
                    let desk = this.deskType;
                    switch (desk) {
                        case "1": this.one = false; this.two = true; this.thr = true; this.ftr = true; this.multi = false;
                            break;
                        case "2": this.one = false; this.two = false; this.thr = true; this.ftr = true; this.multi = false;
                            break;
                        case "3": this.one = true; this.two = true; this.thr = false; this.ftr = false; this.multi = true;
                            break;
                        case "4": this.one = true; this.two = true; this.thr = false; this.ftr = false; this.multi = true;
                            break;
                        default: this.one = true; this.two = true; this.thr = true; this.ftr = true; this.multi = true;
                    }
                },
                checkRequire: function () {
                    if (this.number == "0") {
                        this.btn = true;
                        this.disable = "opacity:0.5";
                    } else {
                        this.btn = false;
                        this.disable = "opacity:1";
                    }
                },
                StartOrder: function () {
                    var desk = this.deskType + this.deskNum;
                    let fetchbody = {
                        DeskType: this.deskType,
                        Desk: desk,
                        Number: this.number,
                    };
                    let jsonStr = JSON.stringify(fetchbody);
                    setTimeout(()=>{
                        fetch("/api/member/StartOrder", {
                            method: "PUT",
                            headers: { "Content-Type": "application/json" },
                            body: jsonStr
                        }).then(data => window.location.assign("/member/LoginRegister")
                        ).catch(err => console.log(err))
                    },50)
                    Swal.fire({
                        title: '您好 歡迎光臨Reds\'Bar!',
                        text: '請稍待片刻 將立即帶您前往登入頁面',
                        background: '#333',
                        color: '#FFF',
                        iconColor: '#D8CDB9',
                        confirmButtonColor: '#721B29',
                        timer: 5000,
                        timerProgressBar: true,
                        didOpen: () => {
                            Swal.showLoading()
                        },
                    });
                },
                StartOrderGuest: function() {
                    var desk = this.deskType + this.deskNum;
                    let fetchbody = {
                        DeskType: this.deskType,
                        Desk: desk,
                        Number: this.number,
                    };
                    let jsonStr = JSON.stringify(fetchbody);
                    setTimeout(()=>{
                        fetch("/api/member/StartOrder", {
                            method: "PUT",
                            headers: { "Content-Type": "application/json" },
                            body: jsonStr
                        }).then(data => window.location.assign("/api/member/GuestLogin")
                        ).catch(err => console.log(err))
                    },50)
                    Swal.fire({
                        title: '您好 歡迎光臨Reds\'Bar!',
                        text: '請稍待片刻 將立即帶您前往次頁',
                        timer: 5000,
                        color: '#FFF',
                        iconColor: '#D8CDB9',
                        confirmButtonColor: '#721B29',
                        background: '#333',
                        timerProgressBar: true,
                        didOpen: () => {
                            Swal.showLoading()
                        },
                    });

                }
            }})
    </script>
</body>
</html>