@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>年齡驗證</title>
    <style>
        body {
            background-color: #333;
            height: 95vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        form {
            width: 400px;
            height: 30%;
            background-color: rgba(255, 255, 255, 0.4);
            margin: auto;
            border-radius: 0.375rem;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-around;
        }

        h3 {
            font-size: 1.8rem;
        }

        input {
            border-radius: 0.375rem;
            border: 0;
            height: 2rem;
            width: 300px;
            font-size: 1rem;
            padding: 8px;
        }

        button {
            padding: 8px;
            color: azure;
            width: 150px;
            font-size: 1rem;
            border-radius: 00.375rem;
            border: 0;
            background-color: #721B29;
        }

            button:hover {
                background-color: #D8CDB9;
                color: #000;
            }
    </style>
</head>
<body>
    <form action="" method="post">
        <h3>請輸入出生日期</h3>
        <input type="date" name="" id="" value="2000-07-18">
        <button>送出</button>
    </form>
</body>
<script>
    document.querySelector('button').addEventListener("click", (e) => {
        e.preventDefault();
        console.log(document.querySelector('input').value)
        fetch("/api/member/Legal", {
            method: "post",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(document.querySelector('input').value)
        }).then(e => e.json()).then(r => console.log(r))
    })
</script>
</html>