
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入&註冊</title>
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/theme.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.5.2/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.5.2/dist/sweetalert2.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/vue.min.js"></script>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        a{
            text-decoration: none;
        }
        body{
            background-color: #222220;
            position: relative;
            min-height: 844px;
            min-width: 390px;
        }
        input {
            border: 0px;
            border-radius: 00.375rem;
            padding: 4px;
            width: 130%;
        }
        .tab-content{
            display: flex;
            justify-content: center;
        }
        .tab-content button{
            box-shadow: 4px 4px 4px #666;
            padding: 4px;
        }
        .loginpage, .registerpage{
            height: 100%;
        }

        .pageselect{
            display: flex;
            justify-content: center;
        }
        /* nav */
        .nav{
            width: 390px;
            position: absolute;
            z-index: 1;
            display: flex;
            justify-content: center;
            top: 10%;
        }
        /* LoginForm */
        .loginpage{
            position: relative;
            background-image: url(/images/BackGround/LoginForm.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            height: 844px;
            width: 390px;
        }
        #Login a{
            position: absolute;
            right: 24%;
            top: 54%;
            font-size: 1rem;
        }
        .account{
            position: absolute;
            top: 38%;
            left: 20%;
        }
        .password{
            position: absolute;
            top: 49%;
            left: 20%;
        }
        .login{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .login button{
            position: absolute;
            top: 60%;
            width: 50%;
            border-radius: 00.375rem;
            border: 0px;
            background-color: #721B29;
            color: #fff;
        }
        .OAuth{
            width: 100%;
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: 14%;
        }
        .OAuth a img{
            padding: 14px;
        }
        /* RegisterForm */
        .registerpage{
            position: relative;
            background-image: url(/images/BackGround/RegisterForm.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            height: 844px;
            width: 390px;
        }
        .Register{
            height: 450px;
            position: absolute;
            left: 20%;
            margin-top: 68%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        .register button{
            position: absolute;
            bottom: -40px;
            border-radius: 00.375rem;
            border: 0px;
            width:200px;
            left: 18px;
            background-color: #721B29;
            color: #fff;
        }

        .valid {
            background-color: #D8CDB9;
        }

        .none {
            display: none;
            position: absolute;
            color:#D8CDB9;
            font-weight:bolder;
        }
        .reveal {
            position: absolute;
            color: #D8CDB9;
            font-weight: bolder;
        }

        .acc{
            top: 30%;
            right: 10%;
        }
        .pw{
            right: 10%;
            top:45%;
        }
        .mal{
            right: 10%;
            top:53%;
        }
        .ph{
            right: 10%;
            top:68%;
        }
        .old{
            right: 10%;
            top: 76%;
        }


        @@media screen and (min-width: 768px) {
            body{
                background-color: #222220;
                position: relative;
                font-size: 1.5rem;
            }
            input{
                width: 170%;
            }
            .loginpage{
                position: relative;
                background-image: url(/images/BackGround/login.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                height: 1060px;
                width: 768px;
            }
            .registerpage{
                position: relative;
                background-image: url(/images/BackGround/Register.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                height: 1060px;
                width: 768px;
            }
            .nav{
                width: 768px;
                top: 8%;
            }
            .Register{
                height: 496px;
                left: 32%;
                margin-top: 46%;
            }
            .register button {
                bottom: 10%;
                left: 37%;
            }
            .account{
                top: 39%;
            }
            .password{
                top: 49%;
            }
            .OAuth{
                bottom: 8%;                
            }
            .OAuth a img{
                margin: 8px;
                height: 100px;
            }

            .acc {
                right: 10%;
                top: 31.5%;
            }

            .pw {
                right: 10%;
                top: 45%;
            }

            .mal {
                right: 10%;
                top: 51.8%;
            }

            .ph {
                right: 10%;
                top: 65%;
            }

            .old {
                right: 10%;
                top: 71.8%;
            }
        }
    </style>
</head>
<body>
    <div>
        <div class="pageselect">
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">登入</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">註冊</button>
                </li>
            </ul>
        </div>
        <div class="tab-content" id="pills-tabContent">
            <div class="loginpage m-0 tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                <form id="Login" method="post" enctype="">
                    <div class="account">
                        <input v-model="loginaccount" required maxlength="20" minlength="8" placeholder="請輸入帳號(8~20字)">
                    </div>
                    <div class="password">
                        <input v-model="loginpassword" type="password" required maxlength="20" minlength="8" placeholder="請輸入密碼(8~20字)">
                    </div>
                    <a href="/member/Forget">忘記密碼?</a>
                    <div class="login">
                        <button v-on:click.prevent="login">登 入</button>
                    </div>
                </form>
                <div id="OAuth" class="OAuth">
                    <a @*v-on:click.prevent="Google"*@ href="/member/googlelogin" ><img src="~/images/icons/google.png" alt=""></a>
                    <a href=""><img src="~/images/icons/IG.png" alt=""></a>
                    <a href=""><img src="~/images/icons/FB.png" alt=""></a>
                </div>
            </div>
            <div class="registerpage tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                <div id="Register">
                    <form class="Register" method="post" enctype="">
                        <div class="text">
                            <input v-model="Account" :class="validAccount" required maxlength="20" minlength="8" placeholder="請輸入帳號(8~20字)">
                        </div>
                        <div class="encryp">
                            <input v-model="Password" :class="validPassword" type="password" required maxlength="20" minlength="8" placeholder="請輸入密碼(8~20字)">
                        </div>
                        <div class="repassword">
                            <input v-model="rePassword" :class="validrePassword" type="password" required maxlength="20" minlength="8" placeholder="請再次輸入密碼">
                        </div>
                        <div class="Email">
                            <input v-model.lazy="Email" :class="validEmail" type="email" required>
                        </div>
                        <div class="name">
                            <input v-model="Name" :class="validName" required maxlength="20">
                        </div>
                        <div class="phone">
                            <input v-model="Phone" :class="validPhone" required maxlength="10" minlength="10" placeholder="請輸入連絡電話(09-開頭)">
                        </div>
                        <div class="birth">
                            <input v-model="Birth" :class="validBirth" type="date" value="2000-12-10" required>
                        </div>
                    </form>
                    <p :class="acs">帳號不可與密碼相同!</p>
                    <p :class="pws">兩次密碼不相符!</p>
                    <p :class="mas">Email格式不符!</p>
                    <p :class="phs">連絡電話請以"09"開頭且為10碼!</p>
                    <p :class="ols">你不該進來這裡!</p>
                    <div class="register">
                        <button v-on:click.prevent="register" class="registerbtn">註 冊</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    const vm = new Vue({
        el:"#Register",
        data:{
            Account:"",
            Password:"",
            Name:"",
            Birth:"2000-02-02",
            Phone:"",
            Email:"",
            rePassword:"",
            validEmail:"",
            validAccount:"",
            validPassword:"",
            validrePassword:"",
            validName:"",
            validPhone:"",
            validBirth:"",
            acs: "none acc",
            pws: "none pw",
            phs: "none ph",
            ols: "none old",
            mas: "none mal"
        },
        watch:{
            rePassword:function(){
                if (this.Password == this.rePassword){
                    this.validrePassword = this.validPassword = "";
                    this.pws = "none pw"
                }else{
                    this.validrePassword = this.validPassword = "valid";
                    this.pws = "reveal pw";
                }
            },
            Password:function(){
                if (this.Password == this.rePassword){
                    this.validrePassword = this.validPassword = "";
                    this.pws = "none pw"
                }else{
                    this.validrePassword = this.validPassword = "valid";
                    this.pws = "reveal pw";
                }
                if(this.Account == this.Password){
                    this.validAccount = "valid";
                    this.acs = "reveal acc";
                }else{
                    this.validAccount = "";
                    this.acs = "none acc";
                }
            },
            Email:function(){
                if (this.Email.includes("@@")) {
                    this.validEmail = "";
                    this.mas = "none mal"
                }else{
                    this.validEmail = "valid";
                    this.mas = "reveal mal"
                }
            },
            Account:function(){
                if (this.Account == this.Password) {
                    this.validAccount = "valid";
                    this.acs = "reveal acc";
                } else {
                    this.validAccount = "";
                    this.acs = "none acc";
                }
            },
            Name: function () {
                this.validName = this.Name == "" ? "valid":"";
            },
            Phone: function () {
                if (this.Phone.startsWith("09") && this.Phone.length == 10) {
                    this.validPhone = "";
                    this.phs ="none ph";
                }else{
                    this.validPhone = "valid";
                    this.phs = "reveal ph";
                }
            },
            Birth: function () {
                var birth = this.Birth;
                var by = birth.slice(0, 4);//1999*12 = 23988
                var bm = birth.slice(5, 7);//08
                var now = new Date();
                var dateStr = now.toLocaleString();
                var ny = dateStr.slice(0, 4); // 2022*12 = 24264
                var nm = dateStr.slice(5, 7); // 10
                if (((ny * 12 + nm * 1) - (by * 12 + bm * 1)) / 12 >= 18) {
                    this.validBirth = "";
                    this.ols = "none old";
                }else{
                    this.validBirth = "valid";
                    this.ols = "reveal old";
                }
            },
        },
        methods:{
            register: function () {
                let fbody = {
                    "Account": this.Account,
                    "Password": this.Password,
                    "Name": this.Name,
                    "Birth": this.Birth,
                    "Phone": this.Phone,
                    "Email": this.Email,
                };
                if (vm.Account == "" || vm.Password == "" || vm.Name == "" || vm.Account == "" || vm.Birth == "" || vm.Phone == "" || "Email" == vm.Email) {
                    Swal.fire({
                        icon: 'error',
                        color: '#FFF',
                        iconColor: '#D8CDB9',
                        confirmButtonColor: '#721B29',
                        background: '#333',
                        title: '註冊失敗!',
                        text: '有地方還沒填喔!',
                    })
                    return;
                }
                let JsonString = JSON.stringify(fbody);
                setTimeout(()=>{
                    fetch("/api/Member/Register", {
                        method: 'POST',
                        headers: { "Content-Type": "application/json" },
                        body: JsonString        // to JsonString
                    })
                    .then((e)=> e.json())
                    .then((result) => {
                        console.log(result)
                        if (result && result.status != 400) {
                            Swal.fire({
                                icon: 'success',
                                color: '#FFF',
                                iconColor: '#D8CDB9',
                                confirmButtonColor: '#721B29',
                                background: '#333',
                                title: '註冊成功!',
                                text: '請至信箱收取認證信件，請稍待1~3分鐘',
                                footer: '<a href="/api/Member/Remail">未收到信件? 點擊此處以重發</a>'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.assign("/member/member");
                                }})
                        } else if (result.status != 400) {
                        Swal.fire({
                            icon: 'error',
                            color: '#FFF',
                            iconColor: '#D8CDB9',
                            confirmButtonColor: '#721B29',
                            background: '#333',
                            title: '註冊失敗!',
                            text: '資料格式錯誤!',
                        })
                        }else{
                            Swal.fire({
                                icon: 'error',
                                color: '#FFF',
                                iconColor: '#D8CDB9',
                                confirmButtonColor: '#721B29',
                                background: '#333',
                                title: '註冊失敗!',
                                text: '帳號有人使用過囉!',
                            })
                        }
                    }).catch(error => console.error(error))
                },50);
                Swal.fire({
                    title: '註冊中 請稍後',
                    color: '#FFF',
                    iconColor: '#D8CDB9',
                    confirmButtonColor: '#721B29',
                    background: '#333',
                    html: '請勿關閉視窗',
                    timer: 12000,
                    didOpen: () => {
                        Swal.showLoading()
                    },
                    willClose: () => {
                        clearInterval(timerInterval)
                    }
                })
            },
        }
    })
    const logvm = new Vue({
        el: "#Login",
        data: {
            loginaccount: "",
            loginpassword: "",
        },
        methods: {
            login: function () {
                let loginbody = {
                    Account: this.loginaccount,
                    Password: this.loginpassword,
                };
                let loginJsonString = JSON.stringify(loginbody);
                setTimeout(()=>{
                    fetch("/api/Member/Login", {
                        method: 'POST',
                        headers: { "Content-Type": "application/json" },
                        body: loginJsonString        // to JsonString
                    })
                    .then((e) => e.json())
                    .then((result) => {
                        console.log(result);
                        switch (result.status) {
                            case 200: {
                                Swal.fire({
                                    title: '登入成功',
                                    icon: 'success',
                                    background: '#333',
                                    color: '#FFF',
                                    iconColor: '#D8CDB9',
                                    confirmButtonColor: '#721B29',
                                    showCancelButton: true,
                                    cancelButtonColor: '#d8cdb9',
                                    confirmButtonText: '去點餐',
                                    cancelButtonText: '回首頁'
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.assign("/Order/Orderlist");
                                    }
                                    else if (result.dismiss === Swal.DismissReason.cancel) {
                                        window.location.assign("/member/member");
                                    }
                                })
                            }
                            break;
                            case 1: {
                                Swal.fire({
                                    color: '#FFF',
                                    iconColor: '#D8CDB9',
                                    confirmButtonColor: '#721B29',
                                    background: '#333',
                                    icon: 'info',
                                    title: '已經登入過囉!',
                                    text: `您好${result.object}`,
                                    showCancelButton: true,
                                    confirmButtonText: '去點餐',
                                    cancelButtonText: '登出'
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.assign("/Order/Orderlist");
                                    }
                                    else if (result.dismiss === Swal.DismissReason.cancel) {
                                            fetch("/api/member/Logout").then(() => {
                                            Swal.fire({
                                                title: '登出成功',
                                                color: '#FFF',
                                                iconColor: '#D8CDB9',
                                                background: '#333',
                                                timer: 1000,
                                                didOpen: () => {
                                                    Swal.showLoading()
                                                },
                                                willClose: () => {
                                                    window.location.assign("/home/index")
                                                }
                                            })
                                        })
                                    }
                                })
                            }
                            break;
                            default: {
                                Swal.fire({
                                    color: '#FFF',
                                    iconColor: '#D8CDB9',
                                    confirmButtonColor: '#721B29',
                                    background: '#333',
                                    icon: 'error',
                                    title: '帳號密碼錯誤!登入大失敗!',
                                })
                            }
                            break;
                        }
                    }).catch(error => console.log(error))
                },50);
                Swal.fire({
                    title: '登入中 請稍後',
                    color: '#FFF',
                    iconColor: '#D8CDB9',
                    confirmButtonColor: '#721B29',
                    background: '#333',
                    html: '請勿關閉視窗',
                    timer: 12000,
                    didOpen: () => {
                        Swal.showLoading()
                    }
                })
            },
        }
    })
</script>
</html>