@{
    Layout = "_Layout";
}
<link href="https://use.fontawesome.com/releases/v6.2.0/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.5.2/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.5.2/dist/sweetalert2.min.js"></script>
<style>
    /*breadcrumb*/
    .breadcrumb {
        margin-bottom: 0;
        height: 30px;
    }

        .breadcrumb a {
            color: #444;
        }

    .path {
        background-color: #D8CDB9;
        height: 30px;
        line-height: 30px;
    }
    body{
        background-color: #222220;
        color: azure;
        min-width: 425px;
    }
    .path > div > a{
        text-align: center;
        font-size: 1.3rem;
        font-weight: bolder;
    }
    /* banner */
    .membanner{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;   
        position: relative;         
    }
    .membanner > img{
        width: 100%;
        filter: blur(4px);
    }
    .board{
        position: absolute;
        margin: auto;
        background-color: rgba(100,100, 100, .6);
        padding: 10px;
        color: aliceblue;
        width: 80%;
    }
    .progress{
        --bs-progress-bar-bg: #721B29;
        --bs-progress-bg: #D8CDB9;
    }
    .badge{
        display: block;
        text-align: center;
        padding: 10px;
    }
    .lvlinfo {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    } 
    h3{
        font-size: 1.2rem;
        color: #D8CDB9;
    }
    i{
        font-size: 1.2rem;
        padding: 0 6px;
    }
    /* data */
    .data,.orders{
        background-color: rgba(100,100, 100, .6);
    }
    .datahead ,.orderhead{
        padding-top: 8px;
        display: flex;
        justify-content: space-between;
    }

        .datahead .btn{
            background-color: #721B29;
            color:azure;
            --bs-btn-hover-border-color: #D8CDB9;
        }

    .modal-content {
        background-color: rgba(100,100, 100, .6);
        --bs-modal-footer-border-color :#D8CDB9;
        --bs-modal-header-border-color :#D8CDB9;
    }

    .modal-content i{
        color: #D8CDB9;
        font-size: 2rem;
    }

    .modal-body{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .progress{
        width: 90%; 
    }
    .status > div{
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

   
    /* order */
    .products{
        display: flex;
        overflow-x: auto;
    }

    .products img{
        width:120px;
    }

    .products>div{
        width:150px;
    }

    .orderhead > .btn {
        background-color: #721B29;
        color: azure;
        --bs-btn-hover-border-color: #D8CDB9;
    }
</style>
<div class="path container-fluid w-100">
    <div class="row">
        <nav class="col-10" style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Member</li>
            </ol>
        </nav>
        <a class="col-2" href="/member/LoginRegister">登入</a>
    </div>
</div>
<div id="member">
    <div class="membanner">
        <img src="~/Images/BackGround/banner3A.jpg" alt="">
        <div class="container-fluid board">
            <div class="row">
                <div class="col-5 lvl">
                    <h3 class="m-2">會員等級：{{lvl}}</h3><hr>
                    <div class="badge"><img class="p-3" :src="badge" alt=""></div>
@*                    <div :class="bronze"><img class="p-3" src="~/images/icons/drinks_b.png" alt=""><hr><h3>會員等級：銅</h3></div>
                    <div :class="silver"><img class="p-3" src="~/images/icons/drinks_s.png" alt=""><hr><h3>會員等級：銀</h3></div>
                    <div :class="gold"><img class="p-3" src="~/images/icons/drinks_g.png" alt=""><hr><h3>會員等級：金</h3></div>
                    <div :class="plat"><img class="p-3" src="~/images/icons/drinks_p.png" alt=""><hr><h3>會員等級：白金</h3></div>*@
                </div>
                <div class="col-7 lvlinfo">
                    <div class="discount row">
                        <div class="col-6">
                            <h3>等級優惠</h3>
                            <p>折扣率</p>                                
                        </div>
                        <div class="col-6">
                            <p></p>
                            <h1>{{model.discount}}</h1>
                        </div>
                    </div>
                    <div class="status">
                        <h3>目前消費{{model.total}}</h3>
                        <div>
                            <span>{{model.min}}</span>
                            <span>{{model.max}}</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" :style="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{percent}}%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="data w-100 my-3 py-3 container-fluid">
        <div class="datahead">
            <h3><i class="fa-solid fa-user"></i>會員資料</h3>
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <i class="fa-solid fa-user-pen"></i>
            </button>
        </div>
        <hr>
        <div class="row">
            <div class="col-4 text-end">
                <p>帳號：</p>
                <p>姓名：</p>
                <p>生日：</p>
                <p>信箱：</p>
                <p>連絡電話：</p>            
            </div>
            <div class="col-4">
                <p>{{model.account}}</p>
                <p>{{model.name}}</p>
                <p>{{model.birth.slice(0,10)}}</p>
                <p>{{model.mail}}</p>
                <p>{{model.phone}}</p>
            </div>
            <div class="col-4 text-end edit" data-bs-toggle="popover">

            </div>
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content contain">
                        <div class="modal-header p-2">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">編輯會員資料</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="w-100 m-2"><label>帳號：</label><input class="w-75" type="text" v-model="acc"/></div>
                            <div class="w-100 m-2"><label>姓名：</label><input class="w-75" type="text" v-model="name"/></div>
                            <div class="w-100 m-2"><label>生日：</label><input class="w-75" type="date" v-model="bd"/></div>
                            <div class="w-100 m-2"><label>信箱：</label><input class="w-75" type="text" v-model="mail"/></div>
                            <div class="w-100 m-2"><label>電話：</label><input class="w-75" type="text" v-model="tel"/></div>
                            <div class="w-100 m-2"><label>密碼：</label><input class="w-75" type="text" v-model="pass" /></div>
                        </div>
                        <div class="modal-footer p-0">
                            <button type="button" class="btn" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></button>
                            <button type="button" class="btn" v-on:click="update"><i class="fa-solid fa-check"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="orders w-100 my-3 py-3 container-fluid">
        <div class="orderhead">
            <h3><i class="fa-solid fa-clipboard"></i>訂單紀錄</h3>
            <!-- Button trigger modal -->
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#seemoreModal">
                查看更多
            </button>
            <!-- Modal -->
            <div class="seemore modal fade" id="seemoreModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">訂單紀錄</h1>
                            <button type="button" v-on:click="getOrders" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <template v-for="order in model.orders">
                                <div>
                                    <h3>訂單號碼：{{order.orderId}}</h3>
                                    <p>商品清單：
                                        <li></li>
                                    </p>
                                <p>消費金額：{{order.total}}</p>
                                </div>
                                <hr/>
                            </template>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="products">
            <template v-for="(product,index) in model.products">
                <div class="m-4" >
                    <img :src="product.images[0].path" alt="">
                    <hr>
                    <p>{{product.productName}}</p>
                </div>
            </template>
        </div>
    </div>
</div>
<script>
    const memV = new Vue({
        el:"#member",
        data:{
            badge: "../images/icons/drinks_icon.png",
            lvl:"無",
            model:{
                discount: 1,
                total: null,
                min:null,
                max: null,
                account: "",
                name:"",
                birth:"2000/02/02",
                mail:"",
                phone:"",
                products:[],

            },
            acc: "",
            name: "",
            pass:"",
            bd: "",
            mail: "",
            tel: "",
            progressbar:"",
            percent:"",
            orders: [],
            total:0,
        },
        watch:{
            badge:function(){
                switch(this.model.min){
                    case 70000: this.badge = "../images/icons/drinks_p.png";
                        break;
                    case 30000: this.badge = "../images/icons/drinks_g.png";
                        break;
                    case 10000: this.badge = "../images/icons/drinks_s.png";
                        break;
                    case 5000: this.badge = "../images/icons/drinks_b.png";
                        break;
                    default: this.badge = "../images/icons/drinks_icon.png";
                        break;
                }
            },
            lvl:function(){
                switch (this.model.min) {
                    case 70000:this.lvl = "Platinum";
                        break;
                    case 30000:this.lvl = "Gold";
                        break;
                    case 10000:this.lvl = "Silver";
                        break;
                    case 5000:this.lvl = "Bronze";
                        break;
                    default: this.lvl = "Regular";
                        break;
                }
            },
        },
        methods:{
            update:function(){
                let body = {
                    Account: this.acc,
                    Password: "00000000",
                    Name:this.name,
                    Email:this.mail,
                    Phone:this.tel,
                    Birth: this.bd,
                }
                console.log(body)
                let jstr = JSON.stringify(body);
                fetch("/api/member/EditMember",{
                    method: 'PUT',
                    headers: { "Content-Type": "application/json" },
                    body: jstr
                })
                .then((e) => e.json()).then((r)=>{
                    if (r.status != 400) {
                        Swal.fire({
                            icon: 'success',
                            color: '#FFF',
                            iconColor: '#D8CDB9',
                            confirmButtonColor: '#721B29',
                            background: '#333',
                            title: '資料已更新!',
                    })
                    }else{
                        Swal.fire({
                            icon: 'error',
                            color: '#FFF',
                            iconColor: '#D8CDB9',
                            confirmButtonColor: '#721B29',
                            background: '#333',
                            text: '有地方還沒填或是格式錯誤喔!',
                        })
                    }
                })
            },
            getOrders:function(){
                fetch("/api/member/GetOrders")
                .then((e) => e.json())
                .then((r) => {
                    if (!r) {
                        Swal.fire({
                            icon: 'info',
                            color: '#FFF',
                            iconColor: '#D8CDB9',
                            confirmButtonColor: '#721B29',
                            background: '#333',
                            text: '尚未登入喔!',
                        });
                    };
                    this.orders = r;
                    this.total = 0;
                })
            }
        },
        beforeCreate:function(){
            let self = this;
            setTimeout(()=>{
                fetch("/api/member/GetCurrentMember")
                .then((e) => e.json())
                .then((r) => {
                if (!r) {
                    Swal.fire({
                        icon: 'info',
                        color: '#FFF',
                        iconColor: '#D8CDB9',
                        confirmButtonColor: '#721B29',
                        background: '#333',
                        text: '尚未登入喔!',
                    });
                }
                self.model = r;
                self.acc = r.account;
                self.name = r.name;
                self.bd = r.birth.slice(0, 10);
                self.mail = r.mail;
                self.tel = r.phone;
                self.percent = Math.round((r.total / (r.max - r.min))*100);
                self.progressbar = `width: ${self.percent}%`;
                Swal.fire({
                    icon: 'success',
                    color: '#FFF',
                    iconColor: '#D8CDB9',
                    confirmButtonColor: '#721B29',
                    background: '#333',
                });
                });
            },50)
            Swal.fire({
                title: '請稍後',
                color: '#FFF',
                iconColor: '#D8CDB9',
                confirmButtonColor: '#721B29',
                background: '#333',
                html: '請勿關閉視窗',
                timer: 12000,
                didOpen: () => {
                    Swal.showLoading()
                },
            })
        }
    })
</script>
