@{
    Layout = "_Layout";
}
<link href="https://use.fontawesome.com/releases/v6.2.0/css/all.css" rel="stylesheet">
<style>
    /*breadcrumb*/
    .breadcrumb {
        margin-bottom: 0;
        height: 30px;
    }

        .breadcrumb a {
            color: #444;
        }

    .path {
        background-color: #D8CDB9;
        height: 30px;
        line-height: 30px;
    }
    body{
        background-color: #222220;
        color: azure;
        min-width: 390px;
    }
    .path > div > a{
        text-align: center;
        font-size: 1.3rem;
        font-weight: bolder;
    }
    /* banner */
    .membanner{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;   
        position: relative;         
    }
    .membanner > img{
        width: 100%;
        filter: blur(4px);
    }
    .board{
        position: absolute;
        margin: auto;
        background-color: rgba(100,100, 100, .6);
        padding: 10px;
        color: aliceblue;
    }
    .badge{
        text-align: center;
        padding: 10px;
        display: none;
    }
    .reveal{
        display: block;
        text-align: center;
        padding: 10px;
    }
    .discount{
        display: flex;
        justify-content: space-between;
    }
    .lvlinfo {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    } 
    h3{
        font-size: 1.2rem;
        color: #D8CDB9;
    }
    i{
        font-size: 1.2rem;
        padding: 0 6px;
    }
    /* data */
    .data,.orders{
        background-color: rgba(100,100, 100, .6);
    }
    .datahead ,.orderhead{
        padding-top: 8px;
        display: flex;
        justify-content: space-between;
    }
    .progress{
        width: 90%;
    }
    .status > div{
        width: 90%;
        display: flex;
        justify-content: space-between;
    }
    /* order */
    .products{
        display: flex;
        overflow-x: auto;
    }
</style>
<div class="path container-fluid w-100">
    <div class="row">
        <nav class="col-10" style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Member</li>
            </ol>
        </nav>
        <a class="col-2" href="/member/LoginRegister">登入</a>
    </div>
</div>
<div id="member">
    <div class="membanner">
        <img src="~/Images/BackGround/banner3A.jpg" alt="">
        <div class="container-fluid board">
            <div class="row">
                <div class="col-5 lvl">
                    <div :class="normal"><img class="p-3" src="~/images/icons/drinks_icon.png" alt=""><hr><h3>會員等級：無</h3></div>
                    <div :class="bronze"><img class="p-3" src="~/images/icons/drinks_b.png" alt=""><hr><h3>會員等級：銅</h3></div>
                    <div :class="silver"><img class="p-3" src="~/images/icons/drinks_s.png" alt=""><hr><h3>會員等級：銀</h3></div>
                    <div :class="gold"><img class="p-3" src="~/images/icons/drinks_g.png" alt=""><hr><h3>會員等級：金</h3></div>
                </div>
                <div class="col-7 lvlinfo">
                    <div class="discount">
                        <div>
                            <h3>等級優惠</h3>
                            <p>折扣率</p>                                
                        </div>
                        <div>
                            <h1>{{discount}}</h1>
                        </div>
                    </div>
                    <div class="status">
                        <h3>目前消費{{total}}</h3>
                        <div>
                            <span>{{min}}</span>
                            <span>{{max}}</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="data w-100 my-3 py-3 container-fluid">
        <div class="datahead">
            <h3><i class="fa-solid fa-user"></i>會員資料</h3>
            <a href=""><i class="fa-solid fa-user-pen"></i></a>
        </div>
        <hr>
        <div class="row">
            <div class="col-4 text-end">
                <p>帳號：</p>
                <p>姓名：</p>
                <p>生日：</p>
                <p>信箱：</p>
                <p>連絡電話：</p>            
            </div>
            <div class="col-8">
                <p>{{account}}</p>
                <p>{{name}}</p>
                <p>{{birth}}</p>
                <p>{{mail}}</p>
                <p>{{phone}}</p>
            </div>
        </div>
    </div>
    <div class="orders w-100 my-3 py-3 container-fluid">
        <div class="orderhead">
            <h3><i class="fa-solid fa-clipboard"></i>餐點紀錄</h3>
            <a href="">查看更多...</a>
        </div>
        <hr>
        <div class="products">
            <template v-for="product in products">
                <div class="w-25 me-3" >
                    <img src="" alt="">
                    <hr>
                    <p></p>
                </div>
            </template>
        </div>
    </div>
</div>
<script>
    const memV = new Vue({
        el:"#member",
        data:{
            normal:"reveal",
            bronze:"badge",
            silver:"badge",
            gold:"badge",
            discount:"",
            total:"",
            min:"",
            max:"",
            account:"",
            name:"",
            birth:"",
            mail:"",
            phone:"",
            products:[]
        },
        methods:{

        },
        beforeCreate:function(){
            let self = this;
            fetch("").then((e)=>e.json()).then((r)=>this.products = r);
        }
    })
</script>
