@model Alcoholic.Models.DTO.MailModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>密碼重置信件</title>
</head>
<body>
    <div>
        <h4>Reds'Bar 密碼重置信件</h4>
    </div>
    <br />
    <br />
    <br />
    <div>
        <p>您好，請點及下方連結以重新設定您的密碼。</p>
        <p><a href="@Model.Port">點擊此處以更新</a></p>
    </div>
</body>
