@model Alcoholic.Models.Entities.Member
@{
    ViewData["Title"] = "重設密碼";
}

<style>
    * {
        margin: 0;
        padding: 0;
    }

    body {
        width: 100%;
        background-color: #333;
    }

    .Success {
        height: 85vh;
        position: relative;
    }

        .Success > img {
            width: 100%;
            height: 100%;
            vertical-align: bottom;
            position: absolute;
            z-index: -1;
        }

    .Successlogo {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 60vh;
    }

        .Successlogo > img {
            margin: 18vh auto 0 auto;
        }

    .text {
        color: #FFF;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    h3 {
        font-size: 2rem;
        margin: 0 auto;
    }
    .form form{
        display: flex;
        justify-content: center;
        margin: 18px;
    }
    .form form input{
        width: 50%;
        padding: 8px;
        border: 0;
    }
    .form button{
        padding: 0 8px;
        border: 0;
        background-color: #721B29;
        color: #D8CDB9;
    }

    .form button:hover {
        border: 0;
        color: #721B29;
        background-color: #D8CDB9;
    }
</style>
<div class="Success">
    <img src="~/images/BackGround/FotoJet.jpg" />
    <div class="Successlogo">
        <img src="~/images/icons/logo-y.png" />
    </div>
    <div class="text">
        <h3>請重新設置您的密碼</h3>
    </div>
    <div class="form">
        <form method="PUT" action="/api/member/chapw">
            <input type="password" name="password" /><input type="password" name="password" /><br />
            <button type="submit">送出</button>
        </form>
    </div>
</div>

