@{
ViewData["Title"] = "推薦酒款";
}

<style>
    body {
        position: relative;
        background-color: #333;
    }

    /*Breadcrumb*/
    .path {
        background-color: #D8CDB9;
        height: 30px;
        line-height: 30px;
    }

    .breadcrumb {
        margin-bottom: 0;
        height: 30px;
    }

    .breadcrumb a {
        color: #444;
    }

    @@media screen and (max-width: 992px) {
        .searcharea {
            display: none !important;
        }

        .searcharea2 {
            display: block;
        }
    }
    
    /* 產品 */
    .recommendedCT{
        padding: 0 50px 0 50px;
    }

    .productcard img {
        padding:20px 30px;
    }
    .recommendedCT h1{
        color: white;
        font-weight: bold;
        text-align: center;
        padding: 30px 0px;
        margin: 0;
    }

    .recommendedCT h2 {
        font-weight: bold;
        height: 40px;
        color: #842029;
        margin-top: 20px;
    }
    .recommendedCT hr{
        margin-right:50px;
    }

    .recommendedCT .descrip {
        padding-top:10px;
    }
    .price {
        color: #333;
        font-weight:bold;
    }

    .discount_price{
        color: #333;
        text-decoration: line-through;
        font-weight: bold;
    }

    .discount {
        color: red;
        font-weight: bold;
    }

    .sale {
        border: 1px solid red;
        font-size: small;
        color: red;
        width:50px;
    }

    /*model*/
    h3 {
        color: #444;
        text-align: center;
        margin: 50px;
    }

    .modal-title {
        font-weight: bold;
        color: #842029;
    }

    .modal-body p{
        margin-top: 15px;
    }

    .modal-image {
        max-width: 498px;
    }

    .modal-spec {
        overflow-y: auto;
        text-align:center; 
    }

    .modal-bodyimg {
        text-align: center;
    }
</style>

<!--Breadcrumb-->
<div class="path">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Recommendation</li>
            </ol>
        </nav>
    </div>
</div>
<!--推薦-->
<div id="vueproductModal">
    <div class="container recommendedCT" id="recommendedCT">
        <h1>熱銷推薦</h1>
        <template v-for="item in product">
            <div class="container col-xl-10 col-12 p-3">
                <div class="card productcard">
                    <div class="row">
                        <img :src="item.path" class="col-4" :id="item.id" data-bs-toggle="modal"
                            data-bs-target="#productModal" @@click="selected">
                        <div class="card-body col-8">
                            <div :id="item.id" data-bs-toggle="modal" data-bs-target="#productModal"
                                @@click="selected">
                                <h2 class="card-title">{{item.name}}</h2>
                                <hr>
                                <template v-if="item.discountAmount == 1">
                                    <span class="price">${{item.price}}</span>
                                </template>
                                <template v-else>
                                    <p class="sale px-2">SALE</p>
                                    <span class="discount_price">${{item.price}}</span>
                                    <span class="discount">${{Math.round(item.price * item.discountAmount)}}</span>
                                </template>
                                <p class="descrip">{{item.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>

    <!-- 產品懸浮視窗Modal -->
    <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Red's Bar&nbsp本週銷量第&nbsp<b>{{modal.index}}</b>&nbsp名</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-0">
                    <div class="modal-bodyimg ">
                        <img class="modal-image" :src="modal.imagesrc">
                    </div>
                    <div class="modal-spec">
                        <p><b>{{modal.productName}}</b></p>
                        <hr>
                        <p>{{modal.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
        var app = new Vue({
        el: '#vueproductModal',
        data: {
            modal:{            
                index:null,
                imagesrc: "",
                productName: "",
                description: "",
            },
            product: []
        },
        methods: {
            selected: function (e) {
                let id = e.currentTarget.id;
                let i;
                this.product.forEach(function (x, index) {
                    if (x.id == id)
                        i = index;
                })
                let item = this.product[i];
                this.modal.index = i+1;
                this.modal.imagesrc = item.path;
                this.modal.productName = item.name;
                this.modal.description = item.description;
            },
        },
        beforeCreate: function () {
        let self = this;
        fetch('/api/products/GetAllProducts')
            .then( response => response.json())
            .then( result => self.product = result )
        },
    });
</script>