@{
    ViewData["Title"] = "招牌調酒";
}
<style>
    body {
        position: relative;
        background-color: #333;
    }

    /*Breadcrumb*/
    .path {
        background-color: #D8CDB9;
        height: 30px;
        line-height: 30px;
    }

    .breadcrumb {
        margin-bottom: 0;
        height: 30px;
    }
    .breadcrumb a {
        color: #444;
    }

    @@media screen and (max-width: 992px) {
        .searcharea {
            display: none !important;
        }

        .searcharea2 {
            display: block;
        }
    }
    /* 產品 */
    .classicCT p{
        font-size:medium;
    }
    .card-title{
        height:48px;
    }
    .price {
        color: #333;
    }

    .discount_price{
        color: #333;
        text-decoration: line-through;
    }
    .discount {
        color: red;
        font-weight: bold;
    }
    .sale {
        border: 1px solid red;
        font-size: small;
        float: right;
        color: red;
    }
    /*model*/
    h3{
        color: #444;
        text-align: center;
        margin:50px;
    }
    .modal-title{
        font-weight: bold;
        color: #842029;
    }

    .modal-body p {
        margin-top: 15px;
    }

    .modal-spec {
        overflow-y: auto;
        text-align: center;
    }

    .modal-bodyimg {
        text-align: center;
    }
</style>



<!--Breadcrumb-->
<div class="path">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Signature</li>
            </ol>
        </nav>
    </div>
</div>
<div id="vueproductModal">
    <div class="container classicCT" id="classicCT">
        <div class="row g-4 mt-2">
            <template v-for="item in product">
                <div class="col-xl-3 col-md-4 col-6 p-3">
                    <div class="card productcard w-100 h-100">
                        <img :src="item.path" class="m-2" :id="item.id" data-bs-toggle="modal"
                            data-bs-target="#productModal" @@click="selected">
                        <div class="card-body">
                            <div :id="item.id" data-bs-toggle="modal" data-bs-target="#productModal"
                                @@click="selected">
                                <template v-if="item.discountAmount == 1">
                                    <p class="card-title">{{item.name}}</p>
                                    <span class="price">${{item.price}}</span>
                                </template>
                                <template v-else>
                                    <p class="card-title">{{item.name}}</p>
                                    <span class="discount_price">${{item.price}}</span>
                                    <span class="discount">${{Math.round(item.price * item.discountAmount)}}</span>
                                    <span class="sale px-2">SALE</span>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
    <!-- 產品懸浮視窗Modal -->
    <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{modal.productName}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body p-0">
                    <div class="modal-bodyimg ">
                        <img class="w-100" :src="modal.imagesrc">
                    </div>
                    <div class="card-body modal-spec">
                        <p><b>{{modal.description}}</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var app = new Vue({
        el: '#vueproductModal',
        data: {
            modal:{
                imagesrc: "",
                productName: "",
                description: "",
            },
            product: []
        },
        methods: {
            selected: function (e) {
                let id = e.currentTarget.id;
                let i ;
                this.product.forEach(function(x, index){
                    if (x.id == id)
                        i = index;
                })
                let item = this.product[i];
                this.modal.imagesrc = item.path;
                this.modal.productName = item.name;
                this.modal.description = item.description;
            },
        },
        beforeCreate: function () {
        let self = this;
        fetch('/api/products/GetAllProducts')
            .then( response => response.json())
            .then( result => self.product = result)
        },
    });   
</script>