@{
    ViewData["Title"] = "員工登入";
    Layout = "~/Areas/BackCenter/Views/Shared/_Layout.cshtml";
}
<link href="https://use.fontawesome.com/releases/v6.2.0/css/all.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<style>
        * {
            padding: 0;
            margin: 0;
        }

        body {
            background-image: url('../images/BackGround/emplogin2.jpg');
            min-height: 100vh;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;
            color: aliceblue;
            font-size: 1rem;
            font-weight: bolder;
        }

        hr {
            width: 80%;
        }

        .login {
            width: 80%;
            max-width: 768px;
            padding: 30px;
            margin: 100px;
            background-color: rgba(200,200,200,0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 00.375rem;
        }

            .login > img {
                width: 80%;
                max-width: 400px;
            }

        form {
            width: 100%;
            padding: 30px;
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .info {
            width: 80%;
            text-align: center;
        }

            .info > input {
                width: 70%;
                margin: 10px;
                padding: 2px;
                transition: ease;
                transition-duration: 0.3s;
            }

                .info > input:focus {
                    padding: 4px;
                    transition: ease;
                    transition-duration: 0.3s;
                }

        .checkbox {
            position: relative;
            right: -25%;
        }

        .btn {
            width: 80%;
            display: flex;
            justify-content: center;
        }

        button {
            width: 80%;
            max-width: 300px;
            font-size: 1.5rem;
            border-radius: 00.375rem;
            border: 0;
            color: #842029;
            font-weight: bolder;
        }

            button:hover {
                color: #FFF;
                background-color: #444;
            }
    </style>
<div class="login">
        <img src="/Pages/Images/icons/logo-r.png" alt="">
        <h2>請登入</h2>
        <hr>
        <form action="">
            <div class="info">
                <label>帳號：</label>
                <input type="text" autocomplete="on">
                <br>
                <label>密碼：</label>
                <input type="password">
                <br>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me" checked>
                        記住帳號
                    </label>
                </div>
            </div>
        </form>
        <div class="btn">
            <button>登入</button>
        </div>
    </div>
<script>
    let account = $("input").first()
    let ck = $("input[type='checkbox']")
    let value = `; ${document.cookie}`;
    let ac = value.split("; account=").pop().split(";").shift();
    let btn = $(".btn")
    $(document).ready(() => {
        account.val(ac);
    })
    account.change(() => {
        if (ck.prop("checked")) {
            document.cookie = `account=${account.val()}`
        }
    })
    ck.change(() => {
        if (ck.prop("checked")) {
            document.cookie = `account=${account.val()}`
        } else {
            document.cookie = "account= "
        }
    })
    btn.click(() => {
        $.ajax({
            url: "/BackCenter/Back/Login",
            method: "POST",
            dataType: "json",
            data: {
                EmpName: "",
                EmpAccount: account.val(),
                EmpPassword: $("input[type='password']").val()
            },
            success: function (res) { console.log(res) },
            error: function (err) { console.log(err) },
        });
    });
</script>
