<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script type="module">
        import DatePicker from 'vue2-datepicker/index.min.js';
        import 'vue2-datepicker/index.css';
      
        export default {
          components: { DatePicker },
          data() {
            return {
              time1: null,
              time2: null,
              time3: null,
            };
          },
        };
      </script>
      
      <template>
        <div>
          <date-picker v-model="time1" valueType="format"></date-picker>
          <date-picker v-model="time2" type="datetime"></date-picker>
          <date-picker v-model="time3" range></date-picker>
        </div>
      </template>
</body>
</html>