@{
    ViewData["Title"] = "線上訂位";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue2-datepicker@3.11.0/index.css">
<style>
    body {
        color: aliceblue;
        background-color: #222220;
        margin-bottom: 100px;
    }

    .img-box {
        display: flex;
        justify-content: space-around;
    }

        .img-box img {
            padding: 20px 0;
            height: 80%;
            width: 80%;
        }

    /*navbar*/

    .logo {
        width: 50px;
        margin-right: 20px;
    }

    .navbar {
        background-color: #721B29;
    }

    .navbar-brand {
        color: white;
    }

    .nav-link {
        color: white;
    }

    .search {
        height: 38px;
        margin: 10px;
        position: relative;
    }

        .search img {
            height: 20px;
            width: 20px;
            position: absolute;
            top: 9px;
            right: 9px;
        }

    .searcharea2 {
        display: none;
    }

    /*breadcrumb*/
    .breadcrumb {
        margin-bottom: 0;
        height: 30px;
    }

        .breadcrumb a {
            color: #444;
        }

    .path {
        background-color: #D8CDB9;
        height: 30px;
        line-height: 30px;
    }

    .check-area {
        padding-top: 20px;
    }

    /*booking*/
    .datepicker {
        width: 100%;
        border: 0px;
    }

        .datepicker input {
            height: 38px;
        }

    .people-member:focus {
        background-color: #D8CDB9;
    }
    /*info*/
    .open-hours {
        text-align: left;
    }

    .open-hours-bold {
        font-weight: bold;
        background-color: #721B29;
        color: white;
    }

    .map-text {
        padding: 10px 12px 10px 12px;
    }

    .icon {
        height: 25px;
        padding: 0 10px 5px 10px;
    }
    /*buttom*/
    .booking-check {
        border-top: 1px solid #D8CDB9;
        background-color: #222220;
        height: 100px;
        width: 100%;
        position: fixed;
        bottom: 0px;
    }

        .booking-check div {
            height: 50px;
        }

    .booking-check-text {
        margin: 0;
        padding: 10px 0px 0px 5px;
        color: white;
        vertical-align: middle;
    }

    .booking-check-date,
    .booking-check-people {
        border: 0;
        border-radius: 5px;
        background-color: #D8CDB9;
        height: 28px;
    }

    .booking-check-btn, .booking-uncheck-btn {
        padding: 7px;
        border-radius: 5px;
        color: white;
        text-align: center;
    }

    .booking-check-btn {
        background-color: #721B29;
    }

    .booking-uncheck-btn {
        background-color: gray;
    }

        .booking-uncheck-btn:hover {
            color: white;
        }

    @@media screen and (max-width: 992px) {
        .searcharea {
            display: none !important;
        }

        .searcharea2 {
            display: block;
        }
    }
</style>

<div class="path">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Booking</li>
            </ol>
        </nav>
    </div>
</div>
<div id="d1">
    <div class="backcolor">
        <div class="container">
            <div class="img-box">
                <img src="~/images/background/bookingbanner.jpg" />
            </div>
        </div>
    </div>
    <!--日期/人數選擇-->
    <div class="container check-area">
        <div class="row">
            <div class="col-12 col-xl-6">
                <label for="datepicker" class="col-sm-12 col-form-label">用餐日期</label>
                <date-picker v-model="ReserveDate" valueType="format"
                             name="ReserveDate" id="datepicker" class="datepicker p-0" 
                             placeholder="請選擇用餐日期" :disabled-date="disablerange"></date-picker>
            </div>
            <div class="col-12 col-xl-6">
                <label for="people" class="col-sm-12 col-form-label">用餐人數</label>
                <select name="Number" id="people" class="form-select" v-model="Number">
                    <option value="" disabled>請選擇用餐人數</option>
                    <template v-for="peo in people">
                        <option :disabled="maxPeople(peo.value)" :value="peo.value">{{peo.txt}}</option>
                    </template>
                </select>
            </div>
        </div>
    </div>
    <div class="container">
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <h4>餐廳資訊</h4>
            <div class="col-12 col-xl-6">
                <div id="googleMap" style="width:100%;height:300px;"></div>
            </div>
            <div class="col-12 col-xl-6 map-text">
                <hr class="d-xl-none">
                <div class="map-item">
                    <p>Address</p>
                    <img src="../images/icons/icon01.png" alt="" class="icon">
                    <a href="https://goo.gl/maps/VARMRkiZqDQLhgWbA">100 台北市中正區濟南路一段321號</a>
                </div>
                <hr>
                <div class="map-item">
                    <p>Phone</p>
                    <img src="~/images/icons/phonering.png" alt="" class="icon">
                    <a href="tel:0233221368">02 3322 1368</a>
                </div>
                <hr>
                <div class="map-item">
                    <p>Opening</p>
                    <div class="dropdown">
                        <button class="form-select open-hours" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{Weekday[MyDate.getDay()].name}}
                        </button>
                        <ul class="dropdown-menu">
                            <li v-for="day in Weekday">
                                <button v-bind:class="bold(day,MyDate.getDay())" class="dropdown-item" type="button">{{day.name}}</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form action="Check" method="post">
        <input name="ReserveDate" v-bind:value="SendDate" hidden />
        <input name="Number" v-bind:value="Number" hidden />
        <button type="submit" ref="bookingcheck" hidden></button>
    </form>
    <div class="booking-check">
        <div class="container">
            <p class="booking-check-text">
                選擇預定
                <template v-if="ReserveDate!=null">
                    <button class="booking-check-date">{{ReserveDate.toLocaleDateString()}}</button>
                </template>
                <template v-else>
                    <button class="booking-check-date">請選擇預定日期</button>
                </template>
                >
                <template v-if="Number==''">
                    <button class="booking-check-people">請選擇用餐人數</button>
                </template>
                <template v-else>
                    <button class="booking-check-people">{{people[Number-1].txt}}</button>
                </template>
            </p>
        </div>
        <div class="container">
            <template v-if=" ReserveDate == null || Number =='' ">
                <a class="col-12 booking-uncheck-btn" type="button">請選擇用餐日期與人數</a>
            </template>
            <template v-else>
                <button href="booking-check.html" class="col-12 booking-check-btn" type="button" @@click="bookingcheck">下一步，填寫聯絡資訊</button>
            </template>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue2-datepicker@3.11.0/index.js"></script>
<script>
    var app = new Vue({
        el: '#d1',
        data: {
            bookingInfos: [],
            MyDate: new Date,
            ReserveDate: null,
            SendDate: null,
            Number: '',
            people: [
                { value: 1, txt: '1位成人' },
                { value: 2, txt: '2位成人' },
                { value: 3, txt: '3位成人' },
                { value: 4, txt: '4位成人' }
            ],
            Weekday: [
                { id: 0, name: '星期日 18:00-00:00' },
                { id: 1, name: '星期一 公休' },
                { id: 2, name: '星期二 18:00-00:00' },
                { id: 3, name: '星期三 18:00-00:00' },
                { id: 4, name: '星期四 18:00-00:00' },
                { id: 5, name: '星期五 18:00-02:00' },
                { id: 6, name: '星期六 18:00-02:00' }
            ],
        },
        watch:{
            ReserveDate:function(){
                this.SendDate = this.ReserveDate.toLocaleDateString().replace('/', '-').replace('/', '-');
            }
        },
        methods: {
            disablerange: function (date) {
                var today = new Date();
                today.setHours(0, 0, 0, 0);
                var mindate = new Date(today.getTime() + 1 * 24 * 3600 * 1000);
                var maxdate = new Date(today.getTime() + 30 * 24 * 3600 * 1000);
                var isBooking = this.bookingInfos.some(x => new Date(x.date).getTime() == date.getTime() && x.total >= 16);
                return date < mindate || date > maxdate || date.getDay() % 7 == 1 || isBooking;
            },
            maxPeople: function (people) {
                if (this.ReserveDate) {
                    let pickTime = this.ReserveDate.getTime();
                    let currectBookingInfo = this.bookingInfos.find(x => new Date(x.date).getTime() == pickTime);
                    if (currectBookingInfo != null) {
                        return 16 - currectBookingInfo.total < people;
                    }
                    return false;
                }
            },
            bold: function (day, getDay) {
                if (day.id == getDay) {
                    return 'open-hours-bold';
                }
            },
            bookingcheck: function () {
                this.$refs.bookingcheck.click();
            }
        },
        beforeCreate: function () {
            let self = this;
            fetch('/api/Booking/GetFrontBookings')
                .then(function (response) { return response.json() })
                .then(function (result) { self.bookingInfos = result })
        }
    });
    function myMap() {
        var mapProp = {
            center: new google.maps.LatLng(25.043025219011874, 121.52522706375855),
            zoom: 18,
            styles: [
                {
                    elementType: 'geometry', stylers: [{ color: '#242f3e' }]
                },
                {
                    elementType: 'labels.text.stroke', stylers: [{ color: '#242f3e' }]
                },
                {
                    elementType: 'labels.text.fill', stylers: [{ color: '#746855' }]
                },
                {
                    featureType: 'administrative.locality',
                    elementType: 'labels.text.fill',
                    stylers: [{ color: '#d59563' }]
                },
                {
                    featureType: 'poi',
                    elementType: 'labels.text.fill',
                    stylers: [{ color: '#d59563' }]
                },
                {
                    featureType: 'poi.park',
                    elementType: 'geometry',
                    stylers: [{ color: '#263c3f' }]
                },
                {
                    featureType: 'poi.park',
                    elementType: 'labels.text.fill',
                    stylers: [{ color: '#6b9a76' }]
                },
                {
                    featureType: 'road',
                    elementType: 'geometry',
                    stylers: [{ color: '#38414e' }]
                },
                {
                    featureType: 'road',
                    elementType: 'geometry.stroke',
                    stylers: [{ color: '#212a37' }]
                },
                {
                    featureType: 'road',
                    elementType: 'labels.text.fill',
                    stylers: [{ color: '#9ca5b3' }]
                },
                {
                    featureType: 'transit',
                    elementType: 'geometry',
                    stylers: [{ color: '#2f3948' }]
                },
                {
                    featureType: 'transit.station',
                    elementType: 'labels.text.fill',
                    stylers: [{ color: '#d59563' }]
                }
            ]
        };
        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        var marker = new google.maps.Marker(
            {
                position: mapProp.center,

                icon: "../images/icons/icon01.png",
                animation: google.maps.Animation.BOUNCE
            });
        marker.setMap(map);
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVVm5mchHhBmVCsFrrXAP_ir4J3JO5xVw&callback=myMap"></script>
