@model Alcoholic.Models.ViewModels.BookingCheckModel
<style>
    body {
        background-color: #222220;
    }

    h2 {
        text-align: center;
        padding: 50px 0px 30px 0px;
        color: white;
    }

    .check-area {
        border: 1px solid #D8CDB9;
        padding: 20px 0px 20px 0px;
        border-radius: 0.375rem;
        text-align: center;
        color: white;
    }

        .check-area p {
            margin: 0px;
        }


    hr {
        color: #D8CDB9;
    }

    .inputform {
        text-align: center;
        background-color: #D8CDB9;
        padding: 30px 15px 30px 15px;
        border-radius: 0.375rem;
    }

        .inputform div {
            text-align: left;
            margin: 0 5% 0 5%;
        }

        .inputform input {
            border: 1px solid #D8CDB9;
            border-radius: 0.375rem;
            width: 100%;
            height: 38px;
        }

    button {
        border: 0;
        border-radius: 0.375rem;
        height: 38px;
        display: inline;
    }

    .btn-return {
        background-color: white;
        color: #222220;
    }

    .btn-submit {
        background-color: #721B29;
        color: white;
    }

        .btn-submit:active, .btn-return:active {
            background-color: #C28C2E;
            color: #222220;
        }
</style>

<h2>確認訂位與填寫聯絡資訊</h2>
<div class="container check-area col-10">
    <label for="date">預定日期 : </label>
    <p id="date" class="date">@Model.ReserveDate.ToString()</p>
    <hr>
    <label for="people">預定人數 : </label>
    <p id="people" class="people">@Model.Number<span>位</span></p>
</div>
<br>
<div class="container col-10 col-xl-5">
    <form id="booking" class="inputform" action="Success" method="post">
        <input name="ReserveDate" value="@ViewBag.ReserveDate" hidden />
        <input name="Number" value="@ViewBag.Number" hidden />
        <div class="input-detail m-0">
            <div class="name">
                <label for="name">姓名 : </label>
                <input name="ReserveName" type="text" id="name" required maxlength="20">
            </div>
            <div class="phone">
                <label for="phone">電話 : </label>
                <input name="Phone" type="text" id="phone" required maxlength="10" minlength="10" placeholder="09xxxxxxxx">
            </div>
            <div class="Email">
                <label for="Email">Email : </label>
                <input name="Email" type="email" id="Email" required>
            </div>
        </div>
        <br>
        <div class="input-btn">
            <div class="row m-0">
                <button class="col btn-return m-1" type="button" onclick="javascript:window.history.go(-1);">回上一步</button>
                <button class="col btn-submit m-1" type="submit">立即預定</button>
            </div>
        </div>
    </form>
</div>

