@{
    ViewData["Title"] = "付款完成頁面";
    Layout = "_LayoutMobile";
}

<style>
    body {
        background-color: #222220;
    }

    .colorbox {
        background-color: #D8CDB9;
        display: flex;
        justify-content: center;
        text-align: center;
        border-radius: 0.375rem;
        color: #222220;
        font-weight: bold;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 50px;
    }

    .messageBox {
        border: 1px solid #D8CDB9;
        border-radius: 0.375rem;
        padding: 20px 12px 20px 12px !important;
    }

    .detailFontColor {
        color: white;
    }

    .thanksMessage {
        font-size: xx-large;
    }

    .orderId {
        font-size: large;
    }

    .successedmessage {
        font-size: x-large;
        margin-bottom: 0px;
        height: 60px;
        line-height: 60px;
        margin-top: 20px;
    }

    .logopic {
        display: flex;
        align-content: center;
        justify-content: center;
        width: 150px;
        height: 150px;
    }

    .feedbackmessage {
        color: white;
        font-size: larger;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btnfeedback {
        background-color: #721B29;
        color: white;
        border: none;
        height: 40px;
        border-radius: 0.375rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a {
        text-decoration: none;
    }
</style>

<div class="container">
    <div class="row">
        <div class="container-fluid logopic col-10 col-xl-8 align-self-center mt-5 mb-3 w-100">
            <img src="/images/icons/logo-w.png" alt="">
        </div>
        <div class="container-fluid col-10 col-xl-8 detailFontColor text-center my-3 thanksMessage">--謝謝您的光臨--</div>
        <div class="container-fluid messageBox col-10 col-xl-8 px-0 text-center">
            <div class="detailFontColor orderId">訂單編號 : @ViewBag.orderId</div>
            <div class="successedmessage container-fluid colorbox py-2 col-10 col-xl-8 text-center">
                <i class="fa-sharp fa-solid fa-check"></i> 付款成功
            </div>
        </div>
        <div class="container-fluid col-10 col-xl-8 text-center align-self-center px-0">
            <div class="feedbackmessage">
                <p><i class="fa-sharp fa-solid fa-pen mt-4"></i> 為我們留下評分:</p>
            </div>
            <div>
                <a href="" class="btnfeedback">顧客意見表</a>
            </div>
        </div>
    </div>
</div>

<script>
    var app = new Vue({
        el: "#op_Succeed",
        data() {
            return {

            }
        },
        methods: {

        }
    })
</script>