@{
    ViewData["Title"] = "購物車";
    Layout = "_LayoutMobile";
}

<style>
    /*導覽列*/
    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        --bs-nav-pills-link-active-bg: #333;
        border-bottom: #D8CDB9 1px solid;
        font-weight: bold;
        color: #D8CDB9;
        border-radius: 0;
    }
    .topnavbar {
        position: sticky;
        top: -1px;
        z-index: 1;
        background-color: rgba(22,22,20,0.8);
    }
    .nav-link:hover, .nav-link:focus{
        color: #D8CDB9;
    }
    /* 產品 */
    .signatureCT p,
    .classicCT p,
    .recommendedCT p,
    .customizedCT p {
        font-size: small;
        height: 40px;
    }

    .price {
        color: #333;
        text-decoration: line-through;
    }

    .discount {
        color: red;
        font-weight: bold;
    }

    .sale {
        background-color:rgba(200,0,0,0.8);
        font-weight: bold;
        float: right;
        color: #FFF;
        border-radius: 0 0 0.375rem 0;
    }

    .quantitygroup .btn{
        background-color: white;
        color: #D8CDB9;
        border: 0;
        border-radius: 0;
    }

    .quantitygroup .btn:hover {
            background-color: #C28C2E;
            color: white;
        }


    .qty_input {
        color: #333;
        border: 0;
    }

    .quantitygroup {
        border: #D8CDB9 solid 1px;
    }

    .btnaddtocart > .btn {
        background-color: #721B29;
        color: white;
        border: 0;
    }
        .btnaddtocart > .btn:hover {
            background-color: #D8CDB9;
            color: #333;
            border: 0;
    }

    /* 算命 */
    .fate {
        position: fixed;
        right: 0px;
        top: 20vh;
        width: 10vw;
        max-width: 100px;
        z-index: 2;
        display: inline;
    }

    /*model*/
    .modal-footer .btn {
        width: 100%;
        color:#FFF;
    }

        .modal-footer .btn:hover {
            color: #D8CDB9;
    }

    .modal-image {
        max-height: 280px;
    }

    .modal-spec {
        overflow-y: auto;
        max-height: 20vh;
    }

    .modal-bodyimg {
        text-align: center;
    }

    .modal-footer {
        background-color: #721B29;
    }

    /* 客製化 */
    .modal-content {
        background-color: #D8CDB9;
    }
    .modalinput {
        border: 0;
        background-color: transparent;
        font-size: 1rem;
        transition: ease;
        transition-duration: 0.3s;
    }

        .modalinput:hover{
            background-color: #B8AD89;
            font-size: 1.2rem;
            border-bottom: 1px solid #721B29;
            transition: ease;
            transition-duration: 0.3s;
        }
    .modal-header{
        border: 0;
    }

    .modal-headbackgroundcolor {
        background-color: #721B29;
        color: white;
    }
    /*購物車*/
    .shopCart{
        position:sticky;
        bottom:0;
        width:100%;
        display: flex;
        justify-content:center;
        align-content: center;
        background-color: #721B29;
        color: #FFF;
        height: 3rem;
    }
    .shopCart:hover{
            background-color: #D8CDB9;
            color: #333;
    }
    .shopCart i{
        display: flex;
        align-content:center;
        line-height: 3rem;
    }
    .shopCart h2{
        margin: auto 0;
        padding: 0 8px;
    }
</style>


<!-- navbar -->
<div class="topnavbar">
    <nav class="navbar navbar-expand-lg navbarposition">
        <div class="container-fluid">
            <a asp-controller="Home" asp-action="Index"><img src="~/images/icons/logo-w.png" alt="" class="logo"></a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <form class="searcharea2 search" role="search">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                        <a href=""><img src="/images/icons/search.png" alt=""></a>
                    </form>
                    <li class="nav-item">
                        <a class="nav-link" href="#">推薦</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">經典酒款</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">算命調酒</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">線上訂位</a>
                    </li>
                </ul>
                <form class="d-flex searcharea search" role="search">
                    <input class=" form-control" type="search" placeholder="Search" aria-label="Search">
                    <a href=""><img src="/images/icons/search.png" alt=""></a>
                </form>
            </div>
        </div>
    </nav>
    <!-- 導覽列(sticky) -->
    <div class="collection container">
        <ul class="nav nav-justified p-2 nav-pills" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="signatureCT-tab" data-bs-toggle="tab"
                        data-bs-target="#signatureCT" type="button" role="tab" aria-controls="signatureCT"
                        aria-selected="true">
                    特色調酒
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="classicCT-tab" data-bs-toggle="tab" data-bs-target="#classicCT"
                        type="button" role="tab" aria-controls="classicCT" aria-selected="false">
                    經典調酒
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="recommendedCT-tab" data-bs-toggle="tab" data-bs-target="#recommendedCT"
                        type="button" role="tab" aria-controls="recommendedCT" aria-selected="false">
                    推薦調酒
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="tabbtn nav-link" id="customizedCT-tab" type="button" role="tab" @@click="resetoptions"
                        data-bs-toggle="modal" href="#optionModalToggle">
                    客製化<i class="fa-solid fa-clipboard-question"></i>
                </button>
            </li>
        </ul>
    </div>
</div>

<div id="vueproductModal">
    <!-- banner -->

    <!-- 算命 -->
    <div class="divfate">
        <img class="fate" src="~/images/Cocktails/fate.png">
    </div>
    <!-- 菜單 -->
    <div class="menu">
        <div class="tab-content">
            <!-- 特色調酒 -->
            <div class="tab-pane fade show  active" id="signatureCT" role="tabpanel" aria-labelledby="signatureCT-tab"
                tabindex="0">
                <div class="container signatureCT">
                    <div class="row g-4 mt-2">
                        <template v-for="item in product">
                            <div class="col-6 col-md-4 p-1">
                                <div class="card productcard w-100 h-100">
                                    <img :src="item.path" class="m-2" :id="item.id" data-bs-toggle="modal"
                                        data-bs-target="#productModal" @@click="selected">
                                    <div class="card-body btnaddtocart">
                                        <div :id="item.id" data-bs-toggle="modal" data-bs-target="#productModal"
                                            @@click="selected">
                                            <p class="card-title">{{item.name}}</p>
                                            <span class="price">${{item.price}}</span>
                                            <span class="discount">${{Math.round(item.price*0.8@*item.discount*@)}}</span>
                                            <span class="sale px-2">SALE</span>
                                        </div>
                                        <div class="row justify-content-center my-2 mx-0 quantitygroup">
                                            <button type="button" @@click="minus"
                                                class="col-2 p-0 btn btn-dark btn-sm minus-btn">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <div class="col-8 p-0">
                                                <input type="number" :name="item.name" :id="item.id"
                                                    class="form-control form-control-sm qty_input text-center"
                                                    value="0" :price="item.price" :discount="item.discount"  readonly>
                                            </div>
                                            <button type="button" @@click="plus"
                                                class="col-2 p-0 btn btn-dark btn-sm plus-btn">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                        <button type="button" class="col-12 btn" onclick="addcookie(event)">加到購物車</button>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
            <!-- 經典調酒 -->
            <div class="tab-pane fade" id="classicCT" role="tabpanel" aria-labelledby="classicCT-tab" tabindex="0">
                <div class="container classicCT">

                    <div class="row g-4 mt-2">
                        <template v-for="item in product">
                            <div class="col-6 col-md-4 p-1">
                                <div class="card productcard w-100 h-100">
                                    <img :src="item.path" class="m-2" :id="item.id" data-bs-toggle="modal"
                                        data-bs-target="#productModal" @@click="selected">
                                    <div class="card-body btnaddtocart">
                                        <div :id="item.id" data-bs-toggle="modal" data-bs-target="#productModal"
                                            @@click="selected">
                                            <p class="card-title">{{item.name}}</p>
                                            <span class="price">${{item.price}}</span>
                                            <span class="discount">${{Math.round(item.price*0.8@*item.discount*@)}}</span>
                                            <span class="sale px-2">SALE</span>
                                        </div>
                                        <div class="row justify-content-center my-2 mx-0 quantitygroup">
                                            <button type="button" @@click="minus"
                                                class="col-2 p-0 btn btn-dark btn-sm minus-btn">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <div class="col-8 p-0">
                                                <input type="number" :name="item.name"
                                                    class="form-control form-control-sm qty_input text-center"
                                                    value="0" readonly>
                                            </div>
                                            <button type="button" @@click="plus"
                                                class="col-2 p-0 btn btn-dark btn-sm plus-btn">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                        <button type="button" class="col-12 btn">加到購物車</button>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
            <!-- 推薦 -->
            <div class="tab-pane fade" id="recommendedCT" role="tabpanel" aria-labelledby="recommendedCT-tab"
                tabindex="0">
                <div class="container recommendedCT">
                    <div class="row g-4 mt-2">
                        <div id="carouselrecommendCaptions" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselrecommendCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselrecommendCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselrecommendCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active" data-bs-interval="2000">
                                <img src="~/images/Cocktails/example1.jpg" class="d-block w-100" >
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>"OMAR-豐收系列NO.2</h5>
                                    <p>推銷的文案</p>
                                </div>
                                </div>
                                <div class="carousel-item" data-bs-interval="2000">
                                <img src="~/images/Cocktails/example2.jpg" class="d-block w-100" >
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>"OMAR-豐收系列NO.2</h5>
                                    <p>推銷的文案</p>
                                </div>
                                </div>
                                <div class="carousel-item" >
                                <img src="~/images/Cocktails/example3.jpg" class="d-block w-100" >
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>"OMAR-豐收系列NO.2</h5>
                                    <p>推銷的文案</p>
                                </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselrecommendCaptions" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselrecommendCaptions" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                            </div>
                            <template v-for="item in product">
                            <div class="col-6 col-md-4 p-1">
                                <div class="card productcard w-100 h-100">
                                    <img :src="item.path" class="m-2" :id="item.id" data-bs-toggle="modal"
                                    data-bs-target="#productModal" @@click="selected">
                                    <div class="card-body btnaddtocart">
                                        <div :id="item.id" data-bs-toggle="modal" data-bs-target="#productModal" @@click="selected">
                                            <p class="card-title">{{item.name}}</p>
                                            <span class="price">${{item.price}}</span>
                                            <span class="discount">${{Math.round(item.price*0.8@*item.discount*@)}}</span>
                                            <span class="sale px-2">SALE</span>
                                        </div>
                                        <div class="row justify-content-center my-2 mx-0 quantitygroup">                                                
                                            <button type="button" @@click="minus"
                                                class="col-2 p-0 btn btn-dark btn-sm minus-btn">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <div class="col-8 p-0">
                                                <input type="number" :name="item.name"
                                                    class="form-control form-control-sm qty_input text-center"
                                                    value="0" readonly>
                                            </div>
                                            <button type="button" @@click="plus"
                                                class="col-2 p-0 btn btn-dark btn-sm plus-btn">
                                                <i  class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                        <button type="button" class="col-12 btn">加到購物車</button>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- 產品懸浮視窗Modal -->
    <form action="./Orderlist.html" method="post">
        <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{head}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body py-0">
                        <div class="modal-bodyimg ">
                            <img class="modal-image" :src="imagesrc">
                        </div>
                        <div class="card-body modal-spec">
                            <ul>
                                <li v-for="feature in featurelist">{{feature}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="container  my-1">
                        <div class="row justify-content-center quantitygroup">
                            <button type="button" @@click="minus" class="col-1 p-0 btn btn-sm">
                                <i class="fa fa-minus"></i>
                            </button>
                            <div class="col-4 p-0">
                                <input type="number" :name="head"
                                    class="form-control form-control-sm qty_input text-center" value="0" readonly>
                            </div>
                            <button type="button" @@click="plus" class="col-1 p-0 btn btn-sm">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="modal-footer p-0">
                        <div class="container-fluid ">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-12 ">
                                        <button type="submit" class="btn btncartbackgroundcolor">加到購物車
                                            <i class="fa-solid fa-cart-shopping ps-1"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- 客製化modal懸浮視窗 -->
    <div class="modaloptions">
        <!-- 第一題 -->
        <div class="modal fade" id="optionModalToggle" aria-hidden="true" aria-labelledby="optionModalToggleLabel"
            tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="container-fluid modal-headbackgroundcolor w-100 h-100">
                        <div class="modal-header gx-0">
                            <h5 class="modal-title" id="optionModalToggleLabel">請選擇一種基酒</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                    </div>
                    <div class="modal-body p-0">
                        <div class="modal-bodycolor">
                            <div class="optionbutton m-2" v-for="option in optionsection1">
                                <input class="w-100 modalinput" type="button" :name="option" :value="option.base"
                                    @@click="optionselected" data-bs-target="#optionModalToggle2"
                                    data-bs-toggle="modal" data-bs-dismiss="modal">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 第二題 -->
        <div class="modal fade" id="optionModalToggle2" aria-hidden="true" aria-labelledby="optionModalToggleLabel2"
            tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="container-fluid modal-headbackgroundcolor w-100 h-100">
                        <div class="modal-header gx-0">
                            <h5 class="modal-title" id="optionModalToggleLabel2">請選擇調酒的香味</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                    </div>
                    <div class="modal-body p-0">
                        <div class="container modal-bodycolor">
                            <div class="optionbutton m-2" v-for="option in optionsection2">
                                <input class="w-100 modalinput" type="button" name="香氣" :value="option.smell"
                                    @@click="optionselected" data-bs-target="#optionModalToggle3"
                                    data-bs-toggle="modal" data-bs-dismiss="modal">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 第三題 -->
        <div class="modal fade" id="optionModalToggle3" aria-hidden="true" aria-labelledby="optionModalToggleLabel3"
            tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="container-fluid modal-headbackgroundcolor w-100 h-100">
                        <div class="modal-header gx-0">
                            <h5 class="modal-title" id="optionModalToggleLabel3">請選擇調酒主要呈現的味道</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                             aria-label="Close"></button>
                        </div>
                    </div>
                    <div class="modal-body p-0">
                        <div class="container modal-bodycolor">
                            <div class="optionbutton m-2" v-for="option in optionsection3">
                                <input class="w-100 modalinput" type="button" name="口感" :value="option.taste"
                                    @@click="optionselected" data-bs-target="#optionModalToggle4"
                                    data-bs-toggle="modal" data-bs-dismiss="modal">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 第四題 -->
        <div class="modal fade" id="optionModalToggle4" aria-hidden="true" aria-labelledby="optionModalToggleLabel4"
            tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="container-fluid modal-headbackgroundcolor w-100 h-100">
                        <div class="modal-header gx-0">
                            <h5 class="modal-title" id="optionModalToggleLabel4">請選擇調酒的酒感</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                    </div>
                    <div class="modal-body p-0">
                        <div class="container modal-bodycolor">
                            <div class="optionbutton m-2" v-for="option in optionsection4 ">
                                <input class="w-100 modalinput" type="button" name="酒感" :value="option.body"
                                    @@click="optionselected" data-bs-target="#optionModalToggle5"
                                    data-bs-toggle="modal" data-bs-dismiss="modal">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 提交 -->
        <div class="modal fade" id="optionModalToggle5" aria-hidden="true" aria-labelledby="optionModalToggleLabel5"
            tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="container-fluid modal-headbackgroundcolor w-100 h-100">
                        <div class="modal-header gx-0">
                            <h5 class="modal-title" id="optionModalToggleLabel5">完成!</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                    </div>
                    <div class="modal-body p-0">
                        <div class="container modal-bodycolor">
                            <button type="submit" name="選項" :value="optionsform"
                                class="btn btncartbackgroundcolor">加到購物車<i
                                    class="fa-solid fa-cart-shopping ps-1"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*購物車*@
<a href="https://localhost:7273/Order/Cart">
    <div class="shopCart">
        <i class="fa-sharp fa-solid fa-cart-shopping"> </i>
        <h2> 查看購物車</h2>
    </div>
</a>


<!-- Cookie -->
<script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
<!-- Vue -->
<script>
    var app = new Vue({
        el: '#vueproductModal',
        data: {
            tableid: 13,
            vueid: "",
            imagesrc: "",
            head: "",
            discount: "",
            featurelist: "",
            optionsform: []
            ,
            optionsection1: [
                { base: 'Vodka' }, { base: 'Rum' }, { base: 'Tequila' }, { base: 'Whiskey' }, { base: 'Gin' }, { base: 'Brandy' }
            ],
            optionsection2: [
                { smell: '花草香' }, { smell: '果實香' }, { smell: '木質調' }, { smell: '煙燻' }, { smell: '茶香' }
            ],
            optionsection3: [
                { taste: '水果酸' }, { taste: '螞蟻甜' }, { taste: '大地風土' }
            ],
            optionsection4: [
                { body: '無感' }, { body: '中等' }, { body: '厚重' }
            ],
            // 產品資料
            product: []
        },
        methods: {
            selected: function (e) {
                this.value = 0;
                this.formdata = 0;
                this.vueid = e.currentTarget.id;
                var item = this.product[this.vueid];
                this.imagesrc = item.path;
                this.head = item.head;
                //this.discount = item.discount;
                this.featurelist = item.allfeature;
            },
            plus: function (e) {
                if (e.currentTarget.parentElement.children[1].children[0].value < 10) {
                    e.currentTarget.parentElement.children[1].children[0].value = e.currentTarget.parentElement.children[1].children[0].value * 1 + 1
                } else {
                    e.currentTarget.parentElement.children[1].children[0].value = 10
                }
            },
            minus: function (e) {
                if (e.currentTarget.parentElement.children[1].children[0].value > 0) {
                    e.currentTarget.parentElement.children[1].children[0].value -= 1
                } else {
                    e.currentTarget.parentElement.children[1].children[0].value = 0
                }
            },
            resetoptions: function () {
                this.optionsform = [];
            },
            optionselected: function (e) {
                this.optionsform = this.optionsform.concat(e.target.value);

            },
        },
        created: function () {
            let self = this;
            fetch("https://localhost:7273/api/Products/GetAllProducts")
                .then((response) => response.json())
                .then((result) => self.product = result)
        }
    })   
</script>

<script>        
        var cart=Cookies.get("cartItem");  
        var cartArray=[0];
        var cartStr="";
        function addcookie(e){      
        var selProd=e.target.parentElement.children[1].children[1].children[0];
        if(selProd.value>0){        
        var item={
             id:selProd.id,
             name:selProd.name,
             discount:selProd.discount,
             path:selProd.path
            };    
        for(i=0;i<cartArray.length;i++){
        //初始化
        if(cartArray[i]==0 && cartArray.length<2){
            console.log("初次");
            item.qty=selProd.value
            cartArray.push(item);
            cartArray.shift();
            cartStr=JSON.stringify(item);
            return;
        }
        //已添加至購物車
        else if(item.id==cartArray[i].id){
        console.log("重複");
        item.qty=selProd.value;
        cartArray[i].qty=(cartArray[i].qty*1+item.qty*1).toString();
        cartStr=JSON.stringify(cartArray);
        return;
        }
        //找完陣列且尚未添加至購物車
        else if(item.id!=cartArray[i].id && i==cartArray.length-1){            
        console.log("不重複");
        item.qty=selProd.value;
        cartArray.push(item);
        cartStr=JSON.stringify(cartArray);
        console.log(cartStr);
        //cartArray.forEach(function(obj){
        //    cartStr=cartStr+"\,"+(JSON.stringify(obj));
        //});    
        break;}
        //陣列回圈跑完前持續找
        else{
            console.log("繼續找");
        }
        }};
        Cookies.set("cartItem",cartStr);
        }
</script>