@model Alcoholic.Models.DTO.OrderViewModel
@using Newtonsoft.Json;
@using System.Web;

@{
    ViewData["Title"] = "本日訂單總覽";
    Layout = "_LayoutMobile";
    //var orderList = Model.Orders;
    //var temp = JsonConvert.SerializeObject(Model.Details);
    //var temp2 = Html.Raw(Model.Details);
    //var temp3 = "";
}

<style>
    body {
        background-color: #222220;
    }

    .backColor {
        background-color: #222220;
    }

    .outer {
        width: 100%;
        height: 7vh;
    }

    .navbar {
        background-color: #721B29;
    }

    .logo {
        width: 50px;
        margin-right: 20px;
    }

    .navbar-brand {
        color: white;
    }

    .nav-link {
        color: white;
    }

    a {
        color: aliceblue;
        text-decoration: none;
    }

    .navbarposition {
        z-index: 1;
    }

    .search {
        height: 38px;
        margin: 10px;
        position: relative;
    }

        .search img {
            height: 20px;
            width: 20px;
            position: absolute;
            top: 9px;
            right: 9px;
        }

    .searcharea2 {
        display: none;
    }

    @@media screen and (max-width: 992px) {
        .searcharea {
            display: none !important;
        }

        .searcharea2 {
            display: block;
        }
    }

    .scrollregion {
        overflow-y: scroll;
        height: 86vh;
        overflow-x: hidden;
    }

    .img-box img {
        filter: blur(1.5px);
        padding: 20px 0;
    }

    .userarea {
        position: relative;
        top: -1.5vh;
    }

    fieldset {
        font-family: sans-serif;
        border: 3px solid #D8CDB9;
        background: white;
        border-radius: 0.375rem;
        padding: 15px;
    }

        fieldset legend {
            background: #C28C2E;
            color: white;
            padding: 5px 10px;
            font-size: 20px;
            border-radius: 0.375rem;
            box-shadow: 0 0 0 3px #D8CDB9;
            width: 40%;
            height: 50px;
            margin-left: 5%;
            float: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    .title {
        color: white;
        position: absolute;
        top: 0px;
    }

        .title p {
            display: inline;
        }

    .himessage {
        text-align: end;
        padding-right: 12%;
    }

    .user {
        color: white;
        text-align: right;
    }

    .cartList {
        background-color: white;
        border-radius: 0.375rem;
    }

    .subOrderTitle {
        display: flex;
        justify-content: space-between;
    }

    .productName {
        font-size: larger;
    }

    .subOrderText {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .subOrderId {
        font-size: larger;
    }

    .subOrderTime {
        font-size: small;
        color: gray;
        display: flex;
        align-items:center;
    }

    .align-items-start {
        display: flex !important;
        align-items: center !important;
    }

    .list-group-item,
    .cartTotal {
        color: #222220;
        font-weight: bold;
    }

    .productPrice {
        display: flex;
        justify-content: end;
    }

    .originalPrice {
        text-decoration: line-through;
    }

    .discountPrice {
        color: darkred;
    }

    .subTotal {
        font-size: large;
        font-weight: bold;
        text-align: end;
        margin-top: 10px;
    }

    .cartTotal {
        text-align-last: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
    }

    .finalCheck {
        width: 100%;
        position: sticky;
        bottom: 0%;
        background-color: #222220;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: large;
    }

    .bottombtntext {
        border: none;
        border-radius: 0.375rem;
        font-weight: bold;
    }

    .btnBacktoMenu,
    .btnModalCancel {
        background-color: #D8CDB9;
        color: #222220;
    }

        .btnBacktoMenu:active,
        .btnModalCancel:active {
            background-color: #C28C2E;
            color: white;
        }

    .btnPaymentConfirm,
    .btnModalConfirm {
        background-color: #721B29;
        color: white;
    }

        .btnPaymentConfirm:active,
        .btnModalConfirm:active {
            background-color: #C28C2E;
        }

    .btnInModal {
        border: none;
        border-radius: 0.375rem;
        width: 90px;
        display: flex;
        justify-content: center;
        height: 30px;
        align-items: center;
    }

    a:active {
        color: white;
    }
</style>

<div id="orderTotal">
    <div class="outer">
        <!-- navbar -->
        <div class="topnavbar">
            <nav class="navbar navbar-expand-lg navbarposition">
                <div class="container-fluid">
                    <a asp-controller="Home" asp-action="Index"><img src="~/images/icons/logo-w.png" alt="" class="logo"></a>
                    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <form class="searcharea2 search" role="search">
                                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                                <a href=""><img src="/images/icons/search.png" alt=""></a>
                            </form>
                            <li class="nav-item">
                                <a class="nav-link" href="#">推薦</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">經典酒款</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">算命調酒</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">線上訂位</a>
                            </li>
                        </ul>
                        <form class="d-flex searcharea search" role="search">
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                            <a href=""><img src="/images/icons/search.png" alt=""></a>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="scrollregion">
        <div>
            <!-- banner -->
            <div class="backColor container mb-3">
                <div class="img-box">
                    <img src="https://picsum.photos/id/24/1200/300" class="img-fluid w-100" />
                </div>
            </div>
            <!-- 標題 -->
            <div class="container col userarea">
                <div class="title w-100">
                    <div class="himessage">
                        <p>Hi, </p>
                        <p class="user">@Model.MemberName</p>
                    </div>

                </div>
            </div>
        </div>


        <fieldset class="mx-3">
            <legend>
                <div>
                    <i class="fa-sharp fa-solid fa-cart-shopping me-2"></i>
                </div>
                <b>已選購</b>
            </legend>

            <!-- 購物車清單 -->
            <div class="container-fluid px-0">
                <div class="cartList px-3">
                    <ol class="list-group">
                        <div class="subOrderTitle">
                            <div class="subOrderText subOrderId">訂單編號 : {{orderDetail.orderId}}</div>
                        </div>
                        <div class="row list-group-item d-flex justify-content-center"
                            v-for="(sequence,index) in sequenceList()" @*v-bind:key="item.orderId"*@>
                            <div class="row list-group-item d-flex align-items-center" v-for="(item,index) in sequence">
                                <div class="col-3 px-0">
                                    <img :src="item.path" class="w-100 rounded">
                                </div>

                                <div class="col-5">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold productName">{{item.productName}}</div>
                                    </div>
                                </div>
                                <div class="col-1 px-0">
                                    <div class="col text-center px-0">
                                        <div class="col">{{item.qty}}</div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="productPrice">
                                        <div v-if="item.discountAmount != 1">
                                            <span>$ </span>
                                            <span class="originalPrice">{{item.unitPrice * item.qty}} </span>
                                            <span class="discountPrice" name="finalPrice">{{discountPrice(item)}}</span>
                                        </div>
                                        <div v-else>
                                            <span>$ </span>
                                            <span name="finalPrice">{{item.unitPrice * item.qty}} </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="subTotal">小計: {{subTotal(sequence)}} 元</div>
                        </div>
                        <hr />
                    </ol>
                    <div class="cartTotal">今日消費總計: {{total(orderDetail.itemList)}} 元</div>
                </div>
            </div>
        </fieldset>
        <form action="Check" method="post" class="d-none">
            <input name="total" v-model="totalPrice" />
            <input name="orderId" value=@Model.OrderId />
            <button type="submit" ref="checkConfirm"></button>
        </form>
        <form action="OrderList" method="post" class="d-none">
            <button type="submit" ref="backToMenu"></button>
        </form>
    </div>
    <!-- 底部按鈕 -->
    <div class="finalCheck">
        <div class="container row w-100">
            <div class="col col-xl-6 text-center">
                <button type="button" class="bottombtntext btnBacktoMenu w-100 py-2" v-on:click="backToMenu">
                    繼續加點
                </button>
            </div>
            <div class="col col-xl-6 text-center">
                <button type="button" class="bottombtntext btnPaymentConfirm w-100 py-2" data-bs-toggle="modal"
                        data-bs-target="#delieveBackdrop">
                    去結帳
                </button>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="delieveBackdrop" data-bs-backdrop="delieve" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="delieveBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delieveBackdropLabel">結帳提示</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    今日消費完畢，確認進入結帳程序?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btnInModal btnModalCancel" data-bs-dismiss="modal">取消</button>
                    <button class="btnInModal btnModalConfirm" v-on:click="checkConfirm()">確認結帳</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    var app = new Vue({
        el: '#orderTotal',
        data() {
            return {
                orderTime: '',
                totalPrice: 0,
                @*orderList: @Html.Raw(Json.Serialize(Model)),*@
                orderDetail: @Html.Raw(Json.Serialize(Model)),
            }
        },
        //mounted(){
        //    console.log(this.orderDetail)
        //    var list = {};
        //    var x = [...new Set(this.orderDetail[0].itemList.map(x => x.sequence))];
        //    console.log(x)
        //    x.forEach(y => console.log(this.orderDetail[0].itemList.filter(z => z.sequence == y)))

        //    console.log(this.orderDetail.filter(x => x.sequence));
        //},
        methods: {
        getOrderDetail: function () {
            var list = {};
            this.orderDetail = JSON.parse(orderDetail);
            return this.orderDetail;
        },
        sequenceList:function(){
            var sList = [];
            var x = [...new Set(this.orderDetail.itemList.map(x => x.sequence))];
            console.log(x)
            x.forEach(y => sList.push(this.orderDetail.itemList.filter(z => z.sequence == y)))
            console.log(sList);
            return sList;
        },
        //detail: function (orderid) {
        //    console.log(orderid);
        //    console.log(this.orderDetail.filter(x => x.orderId == orderid));
        //    return this.orderDetail.filter(x => x.orderId == orderid);
        //},
        checkConfirm: function () {
            console.log(this.totalPrice);
            this.$refs.checkConfirm.click();
        },
        discountPrice: function (item) {
            return Math.round(item.unitPrice * item.qty * item.discountAmount);
        },
        total: function (s) {
            var total = 0;
            for (let i = 0; i < s.length; i++) {
                total += s[i].unitPrice * s[i].qty * s[i].discountAmount;
            }
            this.totalPrice = Math.round(total);
            return Math.round(total);
        },
        subTotal: function (t) {
            var subTotal = 0;
            //for (let j = 0; j < t.length; j++) {
            //    for (let k = 0; k < t[j].itemList.length; k++) {
            //        total += t[j].itemList[k].unitPrice * t[j].itemList[k].qty * t[j].itemList[k].discountAmount;
            //    }
            //}
            for(let j = 0;j<t.length;j++){
                subTotal += t[j].unitPrice * t[j].qty * t[j].discountAmount;
            }
            this.subTotalPrice = Math.round(subTotal)
            console.log(this.subTotalPrice);
            return this.subTotalPrice;
        },
        dateTime: function (ot) {
            var newOt = ot.substring(0, 16);
            return newOt.replace("T", " ");
        },
        backToMenu: function () {
            this.$refs.backToMenu.click();
        }
    },
        })
</script>