@{
    ViewData["Title"] = "訂單管理";
    Layout = "~/Areas/BackCenter/Views/Shared/_Layout.cshtml";
}
<style>
    .orderId_KeyIn {
        font-size: x-large;
        height: 60px;
    }

    .btnCheck {
        height: 2rem;
        max-width: 50%;
    }

    .checkMessage {
        margin-top: 1rem;
        margin-left: 1rem;
        font-size: larger;
        font-weight: bold;
    }

    .btnCheckinModal {
        height: 2rem;
    }

    .iptSearchOrderId {
        border-radius: 4px;
        height: 33px;
    }

</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.5.2/dist/sweetalert2.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue2-datepicker@3.11.0/index.css">
<div class="bookingmanage container-fluid p-5" id="order_manage">
    <div class="spacebetween row-cols-2 mb-3">
        <h3>訂單管理</h3>
    </div>
    <hr>
    <div class="py-4">
        <div class="todaydata">
            <div class="bookingtoday p-4">
                <h5>本日訂單</h5>
                <h2 class="m-0">{{today.toLocaleDateString()}}</h2>
                <br>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">訂單編號</th>
                            <th scope="col">姓名</th>
                            <th scope="col">桌號</th>
                            <th scope="col">用餐人數</th>
                            <th scope="col">付款狀態</th>
                            <th scope="col">訂單處理</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in orderToday" @@click="selectItem(item.orderId)">
                            <td>{{item.orderId}}</td>
                            <td>{{item.memberName}}</td>
                            <td>{{item.desk}}</td>
                            <td>{{item.number}}</td>
                            <td>{{item.status}}</td>
                            <td v-if="item.status == 'N'">
                                <button type="button" class="addbtn btnCheck" data-bs-toggle="modal" data-bs-target="#addbooking" :id="item.orderId">
                                    <i class="fa-sharp fa-solid fa-comment-dollar"></i> 手動結帳
                                </button>
                            </td>
                            <td v-else></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="py-4">
        <div class="spacebetween row-cols-2 mb-3">
            <h3>查詢訂單</h3>
            <div class="datepick">
                <input type="text" v-model="searchOrderId" placeholder="輸入欲查詢之訂單編號" class="p-0 datepicker iptSearchOrderId" maxlength="14" />
                <button class="btn-search" v-on:click="searchHistOrder()">搜尋</button>
            </div>
        </div>
        <div class="bookinginfo">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">訂單編號</th>
                        <th scope="col">姓名</th>
                        <th scope="col">桌號</th>
                        <th scope="col">用餐人數</th>
                        <th scope="col">總金額</th>
                        <th scope="col">訂單日期</th>
                        <th scope="col">詳細資料</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="items in searchOrder">
                        <td>{{items.orderId}}</td>
                        <td>{{items.memberName}}</td>
                        <td>{{items.desk}}</td>
                        <td>{{items.number}}</td>
                        <td v-if="items.status == 'Y'">{{items.total}}</td>
                        <td v-else>未付款</td>
                        <td>{{items.orderTime}}</td>
                        <td>
                            <button type="button" class="addbtn btnCheck"
                                    data-bs-toggle="modal" data-bs-target="#seeDetails" v-on:click="showDetailList()">
                                <i class="fa-sharp fa-solid fa-magnifying-glass"></i> 詳細資料
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Add Modal -->
    <div class="modal fade bookingdModal" id="addbooking" data-bs-backdrop="static"
         data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="staticBackdropLabel">結帳提示</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="booking">
                    <p class="checkMessage">訂單編號: {{selectOrderId}} 確認進行結單?</p>
                    <div class="modal-footer">
                        <div class="row m-0">
                            <button class="col btneaddcancel m-1 btnCheckinModal" type="button" data-bs-dismiss="modal"><i class="fa-solid fa-square-xmark"></i> 取消</button>
                            <button class="col btneditproducts m-1 btnCheckinModal" type="button" data-bs-dismiss="modal"
                                    @@click="finishPayment" :id="selectOrderId">
                                <i class="fa-solid fa-square-check"></i> 結單
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--詳細資料Modal-->
    <div class="modal fade bookingdModal" id="seeDetails" data-bs-backdrop="static"
         data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="staticBackdropLabel">訂單 {{searchOrderId}}</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="bookinginfo">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">圖片</th>
                                <th scope="col">商品名稱</th>
                                <th scope="col">單價</th>
                                <th scope="col">優惠折扣</th>
                                <th scope="col">選購數量</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="detail in detailList">
                                <td><img :src="detail.path" /></td>
                                <td>{{detail.productName}}</td>
                                <td>{{detail.unitPrice}}</td>
                                <td>{{detail.discountAmount}}</td>
                                <td>{{detail.qty}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <form id="booking">
                    <p class="checkMessage"></p>
                    <div class="modal-footer">
                        <div class="row m-0">
                            <button class="col btneditproducts m-1 btnCheckinModal" type="button" data-bs-dismiss="modal"><i class="fa-solid fa-square-check"></i> 關閉</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue2-datepicker@3.11.0/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.5.2/dist/sweetalert2.min.js"></script>
<script>
    var app = new Vue({
        el: '#order_manage',
        data: {
            orderToday: {},
            selectOrderId: '',
            searchOrder: {},
            searchOrderId: '',
            today: new Date,
            detailList: {},
        },
        methods: {
            getTodayOrders: function () {
                fetch("/api/order/getTodayOrders")
                    .then(response => response.json())
                    .then(result => { this.orderToday = result });

                console.log(this.orderToday);
            },
            selectItem: function (orderId) {
                this.selectOrderId = orderId;
            },
            searchHistOrder: function () {
                let self = this;
                let info = {
                    OrderId: self.searchOrderId
                }
                fetch("/api/Order/SearchHistOrders", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(info)
                })
                    .then(response => response.json())
                    .then(result => { self.searchOrder = result });
            },
            finishPayment: function (e) {
                let self = this;
                let data = {
                    OrderId: e.currentTarget.id
                }
                fetch("/api/Order/FinishPayment", {
                    method: "POST",
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(data)
                })
                    .then(response => response.json())
                    .then(result => {
                        if (result) {
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: '手動結單成功',
                                showConfirmButton: false,
                                timer: 1500,
                                closeOnClickOutside: false
                            });
                            this.getTodayOrders();
                        } else {
                            Swal.fire({
                                position: 'center',
                                icon: 'error',
                                title: '手動結單失敗',
                                showConfirmButton: false,
                                timer: 1500,
                                closeOnClickOutside: false
                            })
                        }
                    })
                    .catch(err => console.log('Request Failed', err));
            },
            showDetailList: function () {
                let self = this;
                let info = {
                    OrderId: self.searchOrderId
                }
                fetch("/api/Order/ShowDetailList", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(info)
                })
                    .then(response => response.json())
                    .then(result => { self.detailList = result });
            }
        },
        mounted: function () {
            this.getTodayOrders();
        }
    });
</script>
